.basic-container{
  display: flex;
  justify-content: space-between;

  .company-des{
    max-width: calc(100% - 570px);
    width: calc(55% - 20px);

    .company-briefIntro{
      min-height: calc(100% - 120px);

      p{
        line-height: 24px;
        text-indent: 2em;
      }

      .company-img{
        width: 370px;
        border-radius: 10px;
        float: right;
      }
    }
  }
  .basic-info{
    min-width: 550px;
    width: 45%;

    .basic-items{
      min-height: calc(100% - 120px);

      ul{
        .basic-info-item{
          float: left;
          min-width: calc(50% - 30px);
          padding-left: 30px;
          font-size: 16px;
          color: #999;
          margin-bottom: 20px;

          span{
            color: #333;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.collection-container{
  margin-top: 20px;

  .collection-info{
    margin-bottom: 10px;

    .collection-item{
      float: left;
      width: 16.6%;

      .collection-item-title{
        font-size: 16px;
        color: #333;
        padding-left: 40px;
        height: 30px;
        line-height: 30px;
        margin-bottom: 10px;
      }

      > span {
        color: #999;
        font-size: 14px;

        span{
          color: #666;
        }

        span:last-child{
          margin-left: 40px;
        }
      }
    }
  }
}

.children-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 20px;
  padding-bottom: 20px;

  .child-item{
    width: calc(50% - 35px);
    margin: 0;

    .child-item-content1{
      width: 30%;
      border-right: 1px solid #ececec;
      float: left;
      text-align: center;
      margin-top: 5px;

      img{
        width: 70%;
      }

      a{
        margin-top: 10px;
        font-size: 18px;
        color: #6c9cff;
        text-decoration: none;
        display: block;
      }

      span{
        font-size: 16px;
        color: #666;
        margin-top: 15px;
        display: block;
      }
    }

    .child-item-content2{
      width: 60%;
      float: right;

      ul{
        li{
          width: 50%;
          float: left;
          margin-bottom: 20px;

          &.division-staff-next{
            height: 72px;
          }

          p{
            font-size: 16px;
            color: #333;
            margin-bottom: 10px;
          }

          >span{
            color: #999;
            font-size: 14px;
            display: inline-block;
            min-width: 49%;

            span{
              color: #666;
            }

            span:first-child{
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
.staff-container{
  margin-top: 20px;

  .staff-item{
    float: left;
    width: 120px;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 10px;

    &:hover{
      box-shadow: #333 0 0 5px;
    }

    img{
      width: 120px;
      height: 140px;
    }
    p{
      font-size: 16px;
      color: #333;
      margin-top: 8px;
    }
    span{
      font-size: 16px;
      color: #999;
      margin-top: 8px;
    }
  }
}

.shortName{
  background: url('/assets/images/basic-shortName.png') no-repeat 0 center;
}
.address{
  background: url('/assets/images/basic-address.png') no-repeat 0 center;
}
.companyName{
  background: url('/assets/images/basic-companyName.png') no-repeat 0 center;
}
.contacts{
  background: url('/assets/images/basic-contacts.png') no-repeat 0 center;
}
.latitude{
  background: url('/assets/images/basic-latitude.png') no-repeat 0 center;
}
.longitude{
  background: url('/assets/images/basic-longitude.png') no-repeat 0 center;
}
.organizationCode{
  background: url('/assets/images/basic-organizationCode.png') no-repeat 0 center;
}
.phoneNo{
  background: url('/assets/images/basic-phoneNo.png') no-repeat 0 center;
}
.totalMileage{
  background: url('/assets/images/basic-totalMileage.png') no-repeat 0 center;
}
.companyCode{
  background: url('/assets/images/basic-companyCode.png') no-repeat 0 center;
}
.collection-staff{
  background: url('/assets/images/collection-staff.png') no-repeat 0 center;
}
.collection-line{
  background: url('/assets/images/collection-line.png') no-repeat 0 center;
}
.collection-design{
  background: url('/assets/images/collection-design.png') no-repeat 0 center;
}
.collection-etc{
  background: url('/assets/images/collection-etc.png') no-repeat 0 center;
}
.collection-weight{
  background: url('/assets/images/collection-weight.png') no-repeat 0 center;
}
.collection-card{
  background: url('/assets/images/collection-card.png') no-repeat 0 center;
}

