.main-container{
  display: flex;
  justify-content: space-between;

  .condition-container{
    width: 25%;
    min-width: 315px;
  }

  .table-container{
    width: calc(75% - 20px);
    max-width: calc(100% - 335px);
  }
}

.form-item{
  width: calc((100% - 60px)/3);
  margin-bottom: 20px;
  margin-right: 20px;
  float: left;

  p{
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;

    .form-required{
      color: red;
    }
  }

  input{
    width: calc(100% - 15px);
    padding-right: 15px;
    height: 38px;
    text-indent: 15px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #d9d9d9;

    &:disabled{
      background: #eee;
    }
  }

  select{
    width: 100%;
    height: 40px;
    background: #fff;
  }
}

.scroll-table-container{

  .part-content{

    >div {
      overflow: scroll;
      padding-bottom: 10px;

      .myTable{
        min-width: 100%;

        th{
          background: #e2ebff;
          padding: 0 30px;
          text-align: center;
          border: 1px solid #e6e6e6;
          font-size: 14px;
          height: 40px;
          line-height: 40px;
          color: #666;
          white-space: nowrap;
        }

        td{
          white-space: nowrap;
          border: 1px solid #e6e6e6;
          font-size: 14px;
          height: 90px;

          .myTable-td-div{
            width: 100%;
            height: 100%;

            p{
              height: 36px;
              line-height: 36px;
              font-size: 16px;
              color: #333;
              text-align: center;
            }

            div{
              position: relative;
              height: 54px;

              span{
                display: block;
                position: absolute;
                top: 0;
                width: 33.3%;
                text-align: center;
                font-size: 14px;
                height: 26px;
                padding-top: 28px;

                &.team-day{
                  left: 0;
                  background: url('/assets/images/schedule-day.png') no-repeat center 0;
                  color: #ffa94b;
                }

                &.team-mid{
                  left: 33.3%;
                }

                &.team-night{
                  right: 0;
                  background: url('/assets/images/schedule-night.png') no-repeat center 0;
                  color: #6c9cff;
                }
              }
            }
          }
        }
      }
    }
  }
}

.month-choose-container{
  width: 100%;
  height: 66px;
  position: relative;
  margin-bottom: 20px;

  .today{
    width: 60px;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    background: #ffa94b;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
  }

  .month-choose{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 180px;
    height: 26px;

    p{
      width: 100%;
      line-height: 26px;
      font-size: 18px;
      color: #333;
      text-align: center;
    }

    span{
      display: block;
      position: absolute;
      top: 0;
      height: 26px;
      width: 26px;
      background: #a4c2ff;
      cursor: pointer;
      font-size: 18px;
      text-align: center;
      line-height: 26px;
      color: #fff;

      &.pre-month{
        left: 0;
      }

      &.next-month{
        right: 0;
      }
    }
  }
}

.attendance-container{
  position: relative;
  width: 80%;
  margin-bottom: 30px;

  p{
    height: 30px;
    line-height: 30px;
  }

  .staff-container{
    height: 80px;
    padding: 10px 20px;
    margin: -1px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-top: 10px;

  .staffList-li{
    padding: 0 10px;
    height: 30px;
    background: #ffb472;
    border-radius: 15px;
    line-height: 30px;
    float: left;
    margin-right: 20px;

      p{
        float: left;
        color: #fff;
      }

      div{
        float: right;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin: 4px 0;
        background: url('/assets/images/uncheck.png') no-repeat center center;
        cursor: pointer;
      }
    }
  }
}

.select-container{
  width: 400px;
  position: relative;

  p{
    height: 30px;
    line-height: 30px;
  }
}

.add-button{
  width: 80px;
  height: 30px;
  line-height: 30px;
  background: #6c9cff url('/assets/images/add-icon.png') no-repeat 15px center;
  border-radius: 5px;
  text-indent: 20px;
  font-size: 14px;
  color: #fff;
  padding: 0;
  margin: 0;
  position: absolute;
  border: none;
  right: 0;
  top: 0;
  cursor: pointer;
}

.popup-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba($color: #000000, $alpha: 0.5);
  display: none;

  &.show{
    display: block;
  }

  .popup{
    width: 640px;
    height: 430px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fff;

    h1{
      font-size: 16px;
      height: 40px;
      background: #6097ff;
      color: #fff;
      line-height: 40px;
      font-size: 16px;
      text-indent: 10px;
      font-weight: 300;
    }

    .teams-select-container{
      margin: 20px;

      p{
        font-size: 14px;
        color: #333;
        margin-bottom: 10px;
      }

      select{
        width: 348px;
        height: 48px;
        border: 1px solid #d9d9d9;
        line-height: 48px;
      }
    }
  }
}

.staffList-container{
  margin: 20px;
  border: 1px solid #d9d9d9;
  height: 128px;
  padding: 10px 0 10px 20px;
  border-radius: 5px;

  .staffList-li{
    min-width: 78px;
    padding: 0 10px;
    height: 28px;
    border: 1px solid #ebebeb;
    border-radius: 15px;
    line-height: 28px;
    float: left;
    margin-right: 20px;
    cursor: pointer;

    p{
      float: left;
    }

    div{
      float: right;
      width: 18px;
      height: 18px;
      border: 1px solid #d8d8d8;
      border-radius: 10px;
      margin: 4px 0;

      &.chosen{
        width: 20px;
        height: 20px;
        border: 0;
        background: #ffa740 url('/assets/images/checked.png') no-repeat center center;
      }
    }
  }
}

.button-group{
  width: 280px;
  height: 40px;
  margin: auto;

  .button-submit{
    width: 120px;
    height: 40px;
    border-radius: 25px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    float: left;
    background: #6c9cff;
    cursor: pointer;
  }

  .button-cancel{
    width: 120px;
    height: 40px;
    border: 1px solid #6c9cff;
    color: #6c9cff;
    font-size: 18px;
    float: right;
    border-radius: 25px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }
}
