<h1 class="page-title">
  <div class="page-title-icon"></div>用户管理</h1>
<div *ngIf="view !== 0" class="part-container" style="width: 500px; margin-left: calc(50% - 280px);">
  <h1 class="part-title">修改密码</h1>
  <div class="part-content">
    <div class="left-right-box">
      <div class="left-title require"><span>旧密码：</span></div>
      <div class="right-content">
        <input type="password" [(ngModel)]="userData.oldPassword" (change)="oldPasswordChanged()">
      </div>
      <div *ngIf="showOldPassword" class='error-tip'>请输入就密码！</div>
    </div>
    <div class="left-right-box">
        <div class="left-title require"><span>新密码：</span></div>
      <div class="right-content">
        <input type="password" [(ngModel)]="userData.password" (change)="passwordChanged()">
      </div>
      <div *ngIf="showPassword" class='error-tip'>请输入新密码！</div>
    </div>
    <div class="left-right-box">
      <div class="left-title require"><span>确认密码：</span></div>
      <div class="right-content">
        <input type="password" [(ngModel)]="userData.confirmPassword" (change)="confirmPasswordChanged()">
      </div>
      <div *ngIf="showConfirmPassword" class='error-tip'>确认密码与原密码不一致！</div>
    </div>
    <div style="text-align:center;padding: 12px;">
        <button (click)="editPassword()" class="btn btn-success">修改</button>
    </div>
  </div>
</div>