<h1 class="page-title"><div class="page-title-icon"></div>星评查询</h1>
<div class="main-container">
  <div class="condition-container">
    <div class="part-container">
      <h1 class="part-title">查询条件</h1>
      <div class="part-content clearfix">
        <form [formGroup]="form">
          <div class="form-item">
            <p>选择收费站</p>
            <div *ngIf="orgType !== 3" class="tree-container">
              <app-drop-org-tree [initOrgName]="orgName" [selectionMode]="selectionMode" (selectedOrg)="selectedOrg($event)"></app-drop-org-tree>
            </div>
            <div class="orgName-container" *ngIf="orgType === 3">{{orgName}}</div>
          </div>
          <div class="form-item">
            <p>评定年份</p>
            <select formControlName="year">
              <option value="-1">请选择</option>
              <option *ngFor="let year of yearList" [value]="year">{{year}}</option>
            </select>
          </div>
          <div class="form-item">
            <p>最低综合评分</p>
            <input type="text">
          </div>
          <div class="form-item">
            <p>最低普通话等级</p>
            <select>
              <option value="">请选择</option>
              <option value="1">三乙</option>
              <option value="2">三甲</option>
              <option value="3">二乙</option>
              <option value="4">二甲</option>
              <option value="5">一乙</option>
              <option value="6">一甲</option>
            </select>
          </div>
          <div class="form-item">
            <p>最低计算机等级</p>
            <select>
              <option value="3">其他</option>
              <option value="1">一级</option>
              <option value="2">二级</option>
            </select>
          </div>
          <div class="form-item">
            <p>选择收费员</p>
            <select>
              <option value="-1">请选择</option>
            </select>
          </div>
          <div class="form-item">
            <button (click)="submit()" class="form-btn">查&nbsp;询</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="table-container">
    <div class="part-container">
      <h1 class="part-title">星评信息展示</h1>
      <div class="scroll-table-container">
        <div class="part-content">
          <div>
            <table class="myTable">
              <thead>
                <tr>
                  <th *ngFor="let field of cols">{{field.header}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataList">
                  <td *ngFor="let field of cols">{{item[field.field]}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p-paginator *ngIf="hasData" [rows]="size" [totalRecords]="count" (onPageChange)="paginate($event)"></p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
