<h1 class="page-title"><div class="page-title-icon"></div>培训落实查询</h1>
<div class="main-container">
  <div class="condition-container">
    <div class="part-container">
      <h1 class="part-title">查询条件</h1>
      <div class="part-content clearfix">
        <form [formGroup]="form">
          <div class="form-item">
            <p>发起单位</p>
            <div class="tree-container">
              <app-drop-org-tree (selectedOrg)="selectedOrg($event)"></app-drop-org-tree>
            </div>
          </div>
          <div class="form-item">
            <p>落实单位</p>
            <div class="tree-container">
              <app-drop-org-tree (selectedOrg)="selectedOrg($event)"></app-drop-org-tree>
            </div>
          </div>
          <div class="form-item">
            <p>落实状态</p>
            <select formControlName="executeType">
              <option value="-1">请选择</option>
              <option value="1">未落实</option>
              <option value="2">落实</option>
            </select>
          </div>
          <div class="form-item">
            <p>培训方式</p>
            <select formControlName="executeType">
              <option value="-1">请选择</option>
              <option value="1">未落实</option>
              <option value="2">落实</option>
            </select>
          </div>
          <div class="form-item">
            <p>培训类别</p>
            <select formControlName="executeType">
              <option value="-1">请选择</option>
              <option value="1">未落实</option>
              <option value="2">落实</option>
            </select>
          </div>
          <div class="form-item">
            <p>培训名称</p>
            <select formControlName="executeType">
              <option value="-1">请选择</option>
              <option value="1">未落实</option>
              <option value="2">落实</option>
            </select>
          </div>
          <div class="form-item">
            <p>开始日期</p>
            <p-calendar [(ngModel)]="startTime" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
          </div>
          <div class="form-item">
            <p>结束日期</p>
            <p-calendar [(ngModel)]="endTime" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
          </div>
          <div class="form-item">
            <button class="form-btn">查&nbsp;询</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="table-container">
    <div class="part-container">
      <h1 class="part-title">培训信息展示</h1>
      <div class="scroll-table-container">
        <div class="part-content">
          <div>
            <table class="myTable">
              <thead>
                <tr>
                  <th *ngFor="let field of cols">{{field.header}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of staffList">
                  <td *ngFor="let field of cols">{{item[field.field]}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p-paginator *ngIf="hasData" [rows]="size" [totalRecords]="count" (onPageChange)="paginate($event)"></p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
