<h1 class="page-title"><div class="page-title-icon"></div>排班模板设置</h1>
<div class="main-container">
  <div class="condition-container">
    <div class="part-container">
      <h1 class="part-title">查询条件</h1>
      <div class="part-content clearfix">
        <form [formGroup]="form">
          <div class="form-item">
            <p>选择收费站</p>
            <div class="tree-container">
              <app-drop-org-tree [selectionMode]="selectionMode" (selectedOrg)="selectedOrg($event)"></app-drop-org-tree>
            </div>
          </div>
          <div class="form-item">
            <p>班组</p>
            <select (change)="teamChange($event)" formControlName="teamsGroup">
              <option value="-1">请选择</option>
              <option value="1">一班</option>
              <option value="2">二班</option>
              <option value="3">三班</option>
              <option value="4">四班</option>
              <option value="5">五班</option>
              <option value="6">六班</option>
              <option value="7">机动班</option>
              <option value="8">常白班</option>
              <option value="100">站监控站</option>
            </select>
          </div>
          <div class="form-item">
            <p>班次</p>
            <select formControlName="shiftId">
              <option value="-1">请选择</option>
              <option value="1">白班</option>
              <option value="2">夜班</option>
              <option value="3">中班</option>
            </select>
          </div>
          <div class="form-item">
            <p>选择收费员</p>
            <select formControlName="userId">
              <option value="-1">请选择</option>
              <option *ngFor="let user of staffList" [value]="user.userId">{{user.userName}}</option>
            </select>
          </div>
          <div class="form-item">
            <p>开始日期</p>
            <p-calendar [(ngModel)]="startTime" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
          </div>
          <div class="form-item">
            <p>结束日期</p>
            <p-calendar [(ngModel)]="endTime" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
          </div>
          <div class="form-item">
            <button (click)="submit()" class="form-btn">查询排班情况</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="table-container">
    <div class="part-container">
      <h1 class="part-title">班组排班表</h1>
      <div class="scroll-table-container">
        <div class="part-content">
          <div class="month-choose-container">
            <div (click)="resetToday()" class="today">今天</div>
            <div class="month-choose">
              <span (click)="changeMonth(-1)" class="pre-month">
                <i class="fa fa-angle-left"></i>
              </span>
              <p>{{_year}}年{{_month}}月</p>
              <span (click)="changeMonth(1)" class="next-month">
                <i class="fa fa-angle-right"></i>
              </span>
            </div>
          </div>
          <div>
            <table class="myTable">
              <thead>
                <tr>
                  <th>周日</th>
                  <th>周一</th>
                  <th>周二</th>
                  <th>周三</th>
                  <th>周四</th>
                  <th>周五</th>
                  <th>周六</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of myCalendar">
                  <td *ngFor="let day of row">
                    <div class="myTable-td-div">
                      <p>{{day.date}}</p>
                      <div>
                        <span *ngIf="day.dayShift" class="team-day">{{list_group[day.dayShift.teamsGroup]}}</span>
                        <span *ngIf="day.midShift" class="team-mid">{{list_group[day.midShift.teamsGroup]}}</span>
                        <span *ngIf="day.nightShift" class="team-night">{{list_group[day.nightShift.teamsGroup]}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <p-paginator *ngIf="hasData" [rows]="size" [totalRecords]="count" (onPageChange)="paginate($event)"></p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
