<h1 class="page-title"><div class="page-title-icon"></div>顶班登记</h1>
<div *ngIf="isChosen" class="part-container">
  <h1 class="part-title">顶班信息填报</h1>
  <div class="part-content">
    <form [formGroup]="form">
      <div class="form-item">
        <p>顶班人所在班组</p>
        <select formControlName="applyTeams">
          <option value="-1">请选择</option>
          <option value="1">一班</option>
          <option value="2">二班</option>
          <option value="3">三班</option>
          <option value="4">四班</option>
          <option value="5">五班</option>
          <option value="6">六班</option>
          <option value="7">机动班</option>
          <option value="8">常白班</option>
          <option value="100">站监控站</option>
        </select>
      </div>
      <div class="form-item">
        <p>顶班日期</p>
        <p-calendar [(ngModel)]="applyDate" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="form-item">
        <p>顶班班次</p>
        <select formControlName="shiftId">
          <option value="-1">请选择</option>
          <option value="1">白班</option>
          <option value="2">夜班</option>
          <option value="3">中班</option>
        </select>
      </div>
      <div class="form-item">
        <p>顶板申请人</p>
        <select formControlName="applyUserId">
          <option value="">请选择</option>
          <option *ngFor="let user of staffList" [value]="user.userId">{{user.userName}}</option>
        </select>
      </div>
      <div class="form-item form-textarea">
        <p>备注</p>
        <textarea type="text" formControlName="remark"></textarea>
      </div>
    </form>
    <div class="form-item">
      <button (click)="submit()" class="form-btn">提&nbsp;交</button>
    </div>
  </div>
</div>
<div class="part-container">
  <div class="staff-navbar">
    <h1 class="part-title">顶班登记</h1>
    <div class="part-content clearfix">
      <ul class="btn-list cleafix">
        <li (click)="add()" class="btn-list-li">顶班</li>
        <li (click)="delete()" class="btn-list-li">删除</li>
      </ul>
      <div class="searchbar-container">
        <span>顶班申请日期</span>
        <span>开始日期</span>
        <div class="calendar-container">
          <p-calendar [(ngModel)]="applyDateEnd" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
        </div>
        <span>结束日期</span>
        <div class="calendar-container">
          <p-calendar [(ngModel)]="applyDateEnd" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
        </div>
        <div class="search-btn" (click)="search()">查询</div>
      </div>
    </div>
  </div>
  <div class="table-container">
    <div class="part-content">
      <div>
        <table class="myTable">
          <thead>
            <tr>
              <th></th>
              <th *ngFor="let field of cols" class="sortable" [class.forward]="field.isSort && order === 0" [class.reverse]="field.isSort && order === 1" (click)="sortByThis(field)">{{field.header}}</th>
              <th>审核</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of holdList">
              <td><input type="checkbox" (click)="select(item.id)" [checked]="check(item.id)"></td>
              <td *ngFor="let field of cols">{{item[field.field]}}</td>
              <td>
                <div *ngIf="item.checkResult === 0">
                  <button (click)="changeCheckStatus(item.id, 1)" class="btn btn-success">通过</button>
                  <button (click)="changeCheckStatus(item.id, 2)" class="btn btn-danger">不通过</button>
                </div>
                <span *ngIf="item.checkResult === 1">通过</span>
                <span *ngIf="item.checkResult === 2">未通过</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p-paginator *ngIf="hasData" [rows]="param.size" [totalRecords]="count" (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>
</div>
