<h1 class="page-title"><div class="page-title-icon"></div>站务会查询</h1>
<div class="main-container">
    <div *ngIf="isChosen" class="infoContainer">
        <div class="basic-info part-container">
            <h1 class="part-title">计划信息</h1>
            <div class="btn-center">
              <button (click)="download('do')" *ngIf="doFilePath && doFilePath !== ''">下载文件/预览</button>
              <button (click)="isChosen = !isChosen">返回</button>
            </div>
            <div class="basic-items part-content">
                <ul class="clearfix">
                    <li class="basic-info-item address"><span>会议地址</span>{{doData.meetingPlace}}</li>
                    <li class="basic-info-item staff"><span>记录人</span>{{doData.meetingNote}}</li>
                    <li class="basic-info-item staff"><span>主持人</span>{{doData.meetingHost  }}</li>
                    <li class="basic-info-item date"><span>会议日期</span>{{doData.meetingDate}}</li>
                    <li class="basic-last-item staff"><p>参会人员</p><div class="text">{{doData.meetingJoinPeople}}</div></li>
                    <li class="basic-last-item abstract"><p>会议内容</p><div class="text">{{doData.meetingContent}}</div></li>
                  </ul>
            </div>
          </div>
    </div>
  <div class="condition-container" *ngIf="!isChosen">
    <div class="part-container">
      <h1 class="part-title">查询条件</h1>
      <div class="part-content clearfix">
        <form [formGroup]="form">
          <div class="form-item">
            <p>组织机构</p>
            <div *ngIf="orgType !== 3" class="tree-container">
              <app-drop-org-tree [initOrgName]="orgName" [selectionMode]="selectionMode" (selectedOrg)="selectedOrg($event)"></app-drop-org-tree>
            </div>
            <div class="orgName-container" *ngIf="orgType === 3">{{orgName}}</div>
          </div>
          <div class="form-item">
            <p>会议名称</p>
            <input formControlName="meetingName">
          </div>
          <div class="form-item">
            <p>开始日期</p>
            <p-calendar [(ngModel)]="startDate" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
          </div>
          <div class="form-item">
            <p>结束日期</p>
            <p-calendar [(ngModel)]="endDate" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
          </div>
          <div class="form-item">
            <button (click)="submit()" class="form-btn">查&nbsp;询</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="table-container" *ngIf="!isChosen">
    <div class="part-container">
      <h1 class="part-title">站务会信息展示</h1>
      <div class="scroll-table-container">
        <div class="part-content">
          <div>
            <table class="myTable">
              <thead>
                <tr>
                  <th>查看明细</th>
                  <th *ngFor="let field of cols" [class.sortable]="field.sortable" [class.forward]="field.isSort && order === 0" [class.reverse]="field.isSort && order === 1" (click)="sortByThis(field)">{{field.header}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of planList">
                  <th><span class="station" (click)="detail(item.id)">查看</span></th>
                  <td *ngFor="let field of cols">{{item[field.field]}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p-paginator *ngIf="hasData" [rows]="param.size" [totalRecords]="count" (onPageChange)="paginate($event)"></p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
