<h1 class="page-title"><div class="page-title-icon"></div>收费站信息录入</h1>
<div class="part-container">
  <h1 class="part-title">收费站信息填报</h1>
  <div class="part-content">
    <div class="part-nav">
      <ul>
        <li [class.active]="iftab(0)">
          <div>
            <a (click)="tab(0)" routerLink="basic">基本信息</a>
          </div>
        </li>
        <li [class.active]="iftab(1)">
          <div>
            <a (click)="tab(1)" routerLink="contact">联系信息</a>
          </div>
        </li>
        <li [class.active]="iftab(2)">
          <div>
            <a (click)="tab(2)" routerLink="line">车道信息</a>
          </div>
        </li>
        <li [class.active]="iftab(3)">
          <div>
            <a (click)="tab(3)" routerLink="other">附属信息</a>
          </div>
        </li>
        <li [class.active]="iftab(4)">
          <div>
            <a (click)="tab(4)" routerLink="images">图片上传</a>
          </div>
        </li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
