form{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .form-item{
    width: 20%;
    margin-right: 5%;
    margin-bottom: 20px;

    p{
      font-size: 16px;
      color: #333;
      margin-bottom: 5px;

      .form-required{
        color: red;
      }
    }
    .download{
      background-color: #00c0ef;
      border-color: #00acd6;
      border-radius: 3px;
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
      display: inline-block;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;
      vertical-align: middle;
    }
    .tree-container{
      width: 100%;
      height: 38px;
      border-radius: 5px;
      border: 1px solid #d9d9d9;
    }
    .upload-photo{
      width: calc(100% - 2px);
      padding-right: 0px;
      height: 40px;
      border-radius: 5px;
      box-shadow: none;
      border: 1px solid #d9d9d9;

      input{
        display: none;
      }

      span{
        display: inline-block;
        line-height: 40px;
        width: calc(100% - 125px);
        white-space: nowrap;
        overflow: hidden;
        text-indent: 15px;
      }

      .upload-photo-btn{
        float: right;
        margin: 5px;
        height: 30px;
        width: 100px;
        text-align: center;
        line-height: 30px;
        background: #ffaf58;
        color: #fff;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
      }
    }

    input{
      width: calc(100% - 15px);
      padding-right: 15px;
      height: 40px;
      text-indent: 15px;
      border-radius: 5px;
      box-shadow: none;
      border: 1px solid #d9d9d9;

      &:disabled{
        background: #eee;
      }
    }

    select{
      width: 100%;
      height: 40px;
      background: #fff;
    }

    &.form-textarea{
      width: 95%;

      textarea{
        width: calc(100% - 30px);
        height: 70px;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid #d9d9d9;
        resize: none;
      }
    }

    &.form-checkbox{
      p{
        display: inline-block;
        line-height: 40px;
      }
    }

    button{
      width: 120px;
      height: 40px;
      border: none;
      border-radius: 20px;
      background: #6c9cff;
      cursor: pointer;
      color: #fff;
      font-size: 18px;
      outline: none !important;
    }
  }
  .form-checkbox{
    width: 20%;
    margin-right: 5%;

    p{
      font-size: 16px;
      color: #333;
      margin-bottom: 5px;
      display: inline-block;
      line-height: 40px;
    }

    label{
      font-size: 14px;
      margin-right: 5px;

      div{
        display: inline-block;
        height: 22px;
        width: 22px;
        border: 1px solid #d9d9d9;
        border-radius: 3px;
        position: relative;
        top: 7px;
        margin-right: 5px;

        &.checked{
          background: #6c9cff url('/assets/images/checked.png') no-repeat center center;
          border: none;
          height: 24px;
          width: 24px;
        }
      }

      input{
        display: none;
      }
    }
  }
}
.form-btn-container{
  width: 100%;

  >div{
    float: right;
    width: auto;
  }
}

.staff-navbar{

  .part-content{
    padding: 15px;

    .btn-list{
      float: left;

      .btn-list-li{
        float: left;
        width: 100px;
        height: 40px;
        border-radius: 5px;
        color: #fff;
        background: #6c9cff;
        line-height: 40px;
        text-align: center;
        margin-right: 15px;
        cursor: pointer;
      }
    }

    .searchbar-container{
      float: right;
    }
  }

}

.table-container{

  .part-content{

    >div {
      overflow: scroll;
      padding-bottom: 10px;

      .myTable{
        min-width: 100%;

        th{
          background: #e2ebff;
          padding: 0 30px;
          text-align: center;
          border: 1px solid #fff;
          font-size: 14px;
          height: 40px;
          line-height: 40px;
          color: #666;
          white-space: nowrap;
        }

        td{
          padding: 0 30px;
          white-space: nowrap;
          text-align: center;
          border: 1px solid #fff;
          background: #ededed;
          font-size: 14px;
          height: 40px;
          line-height: 40px;
          color: #666;

          img{
            cursor: pointer;
          }
          .station {
            background: #61b3f2;
            color: white;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.searchbar-container{
  width: 100%;
  height: 40px;
  form{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .form-group{
      display: inline-block;
      margin-bottom: 0;
      flex: 1;
      vertical-align: middle;
      label{
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        min-width: 70px;
      }
      select{
        width: calc(100% - 90px);
        height: 35px;
        background: #fff;
      }
    }
    .searchBtn{
      width: 100px;
      float: right;
      height: 40px;
      color: #fff;
      background: #6c9cff;
      line-height: 40px;
      border-radius: 5px;
      cursor: pointer;
      text-indent: 40px;
      font-size: 18px;
    }
  }

}

.attendance-container{
  position: relative;
  width: 95%;
  margin-bottom: 30px;

  p{
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
  }

  .staff-container{
    height: 80px;
    padding: 10px 20px;
    margin: -1px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-top: 10px;

  .staffList-li{
    padding: 0 10px;
    height: 30px;
    background: #ffb472;
    border-radius: 15px;
    line-height: 30px;
    float: left;
    margin-right: 20px;

      p{
        float: left;
        color: #fff;
      }

      div{
        float: right;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin: 4px 0;
        background: url('/assets/images/uncheck.png') no-repeat center center;
        cursor: pointer;
      }
    }
  }
}

.add-button{
  width: 80px;
  height: 30px;
  line-height: 30px;
  background: #6c9cff url('/assets/images/add-icon.png') no-repeat 15px center;
  border-radius: 5px;
  text-indent: 20px;
  font-size: 14px;
  color: #fff;
  padding: 0;
  margin: 0;
  position: absolute;
  border: none;
  right: 0;
  top: 0;
  cursor: pointer;
}


.popup-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba($color: #000000, $alpha: 0.5);
  display: none;

  &.show{
    display: block;
  }

  .popup{
    width: 640px;
    height: 430px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fff;

    h1{
      font-size: 16px;
      height: 40px;
      background: #6097ff;
      color: #fff;
      line-height: 40px;
      font-size: 16px;
      text-indent: 10px;
      font-weight: 300;
    }

    .teams-select-container{
      margin: 20px;

      p{
        font-size: 14px;
        color: #333;
        margin-bottom: 10px;
      }

      select{
        width: 348px;
        height: 48px;
        border: 1px solid #d9d9d9;
        line-height: 48px;
        float: left;
      }

      .all-group{
        float: right;

        &.not-station{
          float: left;
        }

        button {
          width: 90px;
          height: 48px;
          line-height: 48px;
          border-radius: 25px;
          font-size: 18px;
          text-align: center;

          &.button-choose-all{
            color: #fff;
            float: left;
            background: #6c9cff;
            cursor: pointer;
          }

          &.button-unchoose-all{
            border: 1px solid #6c9cff;
            color: #6c9cff;
            float: right;
            cursor: pointer;
            margin-left: 20px;
          }
        }
      }
    }
  }
}

.staffList-container{
  margin: 20px;
  border: 1px solid #d9d9d9;
  height: 128px;
  padding: 10px 0 10px 20px;
  border-radius: 5px;

  .staffList-li{
    min-width: 78px;
    padding: 0 10px;
    height: 28px;
    border: 1px solid #ebebeb;
    border-radius: 15px;
    line-height: 28px;
    float: left;
    margin-right: 20px;
    cursor: pointer;

    p{
      float: left;
    }

    div{
      float: right;
      width: 18px;
      height: 18px;
      border: 1px solid #d8d8d8;
      border-radius: 10px;
      margin: 4px 0;

      &.chosen{
        width: 20px;
        height: 20px;
        border: 0;
        background: #ffa740 url('/assets/images/checked.png') no-repeat center center;
      }
    }
  }
}

.button-group{
  width: 260px;
  height: 40px;
  margin: auto;

  .button-submit{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    float: left;
    background: #6c9cff;
    cursor: pointer;
  }

  .button-cancel{
    width: 120px;
    height: 40px;
    border: 1px solid #6c9cff;
    color: #6c9cff;
    font-size: 18px;
    float: right;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }
}
