<h1 class="page-title"><div class="page-title-icon"></div>培训计划</h1>
<div *ngIf="isChosen" class="part-container">
  <h1 class="part-title">培训计划信息</h1>
  <div class="part-content">
    <form [formGroup]="form">
      <div class="form-item">
        <p>计划名称</p>
        <input type="text" formControlName="trainPlanName">
      </div>
      <div class="form-item">
        <p>发起单位</p>
        <input type="text" [(ngModel)]="planOrg" disabled="true" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-item">
        <p>落实单位</p>
        <div class="tree-container" *ngIf="isAdd">
          <app-drop-org-tree [selectionMode]="checkMode" (selectedOrg)="selectedEXOrg($event)"></app-drop-org-tree>
        </div>
        <div *ngIf="!isAdd">
          <input type="text" [(ngModel)]="DoOrg" disabled="true" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-item">
        <p>开始日期</p>
        <p-calendar [(ngModel)]="startDate" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="form-item">
        <p>结束日期</p>
        <p-calendar [(ngModel)]="endDate" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="form-item">
        <p>培训讲师</p>
        <input type="text" formControlName="trainTeacher">
      </div>
      <div class="form-item">
        <p>培训课时（单位0.5课时）</p>
        <input [ngModel]="trainTimeLong" (ngModelChange)="timeFormat($event)" [ngModelOptions]="{standalone: true}" type="number" step="0.5" min="0.5" max="6" value="0">
      </div>
      <div class="form-item">
        <p>培训地点</p>
        <input type="text" formControlName="trainLoc">
      </div>
      <div class="form-item">
        <p>培训类别</p>
        <select formControlName="trainType">
          <option value="文明礼仪">文明礼仪</option>
          <option value="稽查业务培训">稽查业务培训</option>
          <option value="机电培训">机电培训</option>
          <option value="安全培训">安全培训</option>
          <option value="综合培训">综合培训</option>
          <option value="应急演练">应急演练</option>
          <option value="劳动竞赛">劳动竞赛</option>
          <option value="收费业务培训">收费业务培训</option>
        </select>
      </div>
      <div class="form-item">
        <p>培训方式</p>
        <select formControlName="trainWay">
          <option value="委外">委外</option>
          <option value="自主">自主</option>
          <option value="参与">参与</option>
        </select>
      </div>
      <div class="form-item">
        <p>培训单位</p>
        <input type="text" formControlName="trainUnit">
      </div>
      <div class="form-item form-textarea">
        <p>培训纪要</p>
        <textarea type="text" formControlName="trainContent"></textarea>
      </div>
      <div class="form-item">
        <p>附件上传(支持pdf,jpg,doc格式)</p>
        <div class="upload-photo">
          <input (change)="fileChange($event)" #photo type="file">
          <span [title]="filename">{{filename}}</span>
          <div class="upload-photo-btn" (click)="photo.click()">选择文件</div>
        </div>
      </div>
      <div class="form-btn-container">
        <div class="form-item">
          <button (click)="submit()" class="form-btn">保存</button>
          <button (click)="isChosen = false;" class="form-btn">返回</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="part-container">
  <div class="staff-navbar">
    <h1 class="part-title">培训计划安排</h1>
    <div class="part-content clearfix">
      <ul class="btn-list cleafix">
        <li (click)="add()" class="btn-list-li">添加</li>
        <li (click)="update()" class="btn-list-li">修改</li>
        <li (click)="delete()" class="btn-list-li">删除</li>
      </ul>
      <div class="searchbar-container">
        <div class="tree-container">
          <app-drop-org-tree [selectionMode]="selectionMode" (selectedOrg)="selectedSearchOrg($event)" [initOrgName]="searchOrg[0].label"></app-drop-org-tree>
        </div>
        <div (click)="search()">查询</div>
      </div>
    </div>
  </div>
  <div class="table-container">
    <div class="part-content">
      <div>
        <table class="myTable">
          <thead>
            <tr>
              <th></th>
              <th *ngFor="let field of cols" class="sortable" [class.forward]="field.isSort && order === 0" [class.reverse]="field.isSort && order === 1" (click)="sortByThis(field)">{{field.header}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of staffList">
              <td><input type="checkbox" (click)="select(item.id)" [checked]="check(item.id)"></td>
              <td *ngFor="let field of cols">{{item[field.field]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p-paginator *ngIf="hasData" [rows]="param.size" [totalRecords]="count" (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>
</div>

