<div class="sidebar-container">
  <ul class="sidebar-items">
    <li routerLink="home" [class.actived]="testHash('home')" class="sidebar-item home-item">
      <div class="sidebar-item-show">
        <p>系统首页</p>
      </div>
    </li>
    <li class="sidebar-item basic-item" [class.actived]="isBasic()">
      <div class="sidebar-item-show">
        <p>基础信息</p>
      </div>
      <div class="sidebar-item-hover">
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>基础信息</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="{{orgLink}}">{{orgTypeStr}}信息</a>
            </li>
            <li class="hover-li">
              <a routerLink="{{orgInputLink}}">{{orgTypeStr}}信息录入</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li [class.actived]="testHash('staff')" class="sidebar-item staff-item">
      <div class="sidebar-item-show">
        <p>人员管理</p>
      </div>
      <div class="sidebar-item-hover">
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>人员管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/admin/staff/search">人员查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/admin/staff/count">人员统计</a>
            </li>
            <li class="hover-li">
              <a routerLink="/admin/staff/edit">人员录入</a>
            </li>
            <li class="hover-li">
              <a routerLink="/admin/staff/staffTransfer">人员调动</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>班组排版管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/admin/staff/teamScheduleSearch">排班查询</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>人员调班管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/admin/staff/switchSearch">调(顶)班查询</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>人员请假管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/admin/staff/leaveSearch">请假查询</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>考勤管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/admin/staff/attendanceCheck">人员出勤统计</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>服装管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/admin/staff/clothSearch">在用服装查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/admin/staff/clothHistory">历史服装查询</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>星评管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/admin/staff/checkSearch">星评查询</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li [class.actived]="testHash('internal')" class="sidebar-item affairs-item">
      <div class="sidebar-item-show">
        <p>内务管理</p>
      </div>
      <div class="sidebar-item-hover">
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>学习培训管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/admin/internal/trainPlanSearch">培训计划查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/admin/internal/trainPlan">培训计划</a>
            </li>
            <li class="hover-li">
              <a routerLink="/admin/internal/trainExecuteSearch">培训落实查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/admin/internal/trainExecute">培训落实</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>站务会管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/admin/internal/stationSearch">站务会查询</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>谈心管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/admin/internal/talkSearch">谈心查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/admin/internal/talkCount">谈心统计</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>文档上传</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/admin/internal/docSearch">文档查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/admin/internal/docInput">文档上传</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>收费设备设施信息</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/admin/internal/deviceSearch">收费设备设施查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/admin/internal/deviceInput">收费设备设施录入</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li [class.actived]="testHash('green')" class="sidebar-item green-item">
      <div class="sidebar-item-show">
        <p>绿通</p>
      </div>
      <div class="sidebar-item-hover">
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>绿通流水查询</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/admin/green/search">绿通流水查询</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>货物查询</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/admin/green/goodsSearch">货物分类查询</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <!-- <li class="sidebar-item system-item">
      <div class="sidebar-item-show">
        <p>系统管理</p>
      </div>
      <div class="sidebar-item-hover"></div>
    </li> -->
  </ul>
</div>
