<div class="switch-choose-container">
  <div (click)="toggle()" class="switch-value">{{_cloth}}</div>
  <div *ngIf="switchTableShow" class="switch-table-container">
    <ul class="ul-header-container">
      <li class="li-index"></li>
      <li class="li-clothesType">服装类型</li>
      <li class="li-clothesClassification">服装类别</li>
      <li class="li-clothesSex">性别</li>
      <li class="li-clothesSize">尺寸</li>
    </ul>
    <ul class="ul-body-container">
      <li (click)="chooseCloth(cloth)" *ngFor="let cloth of clothList; index as i">
        <ul class="ul-header-container">
          <li class="li-index">{{i}}</li>
          <li class="li-clothesType">{{clothesTypeList[cloth.clothesType]}}</li>
          <li class="li-clothesClassification">{{clothesClassificationList[cloth.clothesClassification]}}</li>
          <li class="li-clothesSex">{{cloth.clothesSex}}</li>
          <li class="li-clothesSize">{{cloth.clothesSize}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
