.navbar-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #b2d2ff;
  z-index: 99;

  .title-container{
    width: 100px;
    height: 60px;
    background: #dce8ff url('/assets/images/title.png') no-repeat center center;
    float: left;
  }

  .title-h1{
    float: left;
    color: #6c9cff;
    font-size: 20px;
    line-height: 60px;
    padding-left: 30px;
    font-weight: 400;
  }

  .navbar-items{
    float: right;
    height: 60px;

    .navbar-item{
      float: left;
      height: 100%;
      position: relative;
      padding: 0 10px;
      margin: 0 10px;

      i{
        font-size: 28px;
        color: #a8c6ff;
        line-height: 60px;
        cursor: pointer;
      }

      span{
        position: absolute;
        color: #487fe8;
        background: #dce8ff;
        top: 10px;
        right: 0;
        border-radius: 10px;
        min-width: 10px;
        padding: 2px 5px;
        font-size: 12px;
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
      }

      &.user-item{
        line-height: 60px;
        font-size: 18px;
        margin-left: 40px;
        color: #999;
        padding-left: 50px;
        background: url('/assets/images/user.png') no-repeat 0 center;
      }

      &.logout-item{
        line-height: 60px;

        img{
          cursor: pointer;
        }
      }
    }
  }
}
