.sidebar-container{
  position: fixed;
  left: 0;
  top: 60px;
  width: 120px;
  padding-top: 30px;
  z-index: 99;

  .sidebar-items{
    position: relative;

    .sidebar-item{
      width: 100%;

      .sidebar-item-show{
        height: 20px;
        padding: 77px 0 23px 0;
        text-align: center;
        cursor: pointer;

        img{
          width: 46px;
          height: 46px;
        }

        p{
          margin-top: 10px;
          font-size: 20px;
          line-height: 20px;
        }
      }

      .sidebar-item-hover{
        position: fixed;
        left: 120px;
        width: 445px;
        height: 75%;
        top: 89px;
        background: #fcfcfc;
        border: 1px solid #ccc;
        display: none;
        padding: 20px 0 40px 15px;

        .hover-item{
          .hover-title{
            font-size: 16px;
            color: #999;
            position: relative;
            height: 18px;
            line-height: 18px;
            padding-left: 20px;

            .circle{
              border: 4px solid #fcc682;
              border-radius: 8px;
              font-size: 0;
              padding: 4px;
              height: 0;
              position: absolute;
              left: 0;
              top: 1px;
            }
          }

          .hover-ul{
            margin-left: 30px;
            margin-top: 10px;

            .hover-li{
              float: left;
              margin-right: 30px;

              a{
                color: #444;
                font-size: 14px;
              }
            }
          }
        }
      }

      &.home-item{
        background: url('/assets/images/home-item.png') no-repeat center 23px;

        &:hover, &.actived{
          background: #6c9cff url('/assets/images/home-item-hover.png') no-repeat center 23px;
        }
      }
      &.basic-item{
        background: url('/assets/images/basic-item.png') no-repeat center 23px;

        &:hover, &.actived{
          background: #6c9cff url('/assets/images/basic-item-hover.png') no-repeat center 23px;
        }
      }
      &.system-item{
        background: url('/assets/images/system-item.png') no-repeat center 23px;

        &:hover, &.actived{
          background: #6c9cff url('/assets/images/system-item-hover.png') no-repeat center 23px;
        }
      }
      &.staff-item{
        background: url('/assets/images/staff-item.png') no-repeat center 23px;

        &:hover, &.actived{
          background: #6c9cff url('/assets/images/staff-item-hover.png') no-repeat center 23px;
        }
      }
      &.affairs-item{
        background: url('/assets/images/affairs-item.png') no-repeat center 23px;

        &:hover, &.actived{
          background: #6c9cff url('/assets/images/affairs-item-hover.png') no-repeat center 23px;
        }
      }

      &:hover, &.active{
        .sidebar-item-show p{
          color: #fff;
        }
      }

      &:hover{
        .sidebar-item-hover{
          display: block;
        }
      }
    }
  }
}
