<div class="sidebar-container">
  <ul class="sidebar-items">
    <li class="sidebar-item home-item">
      <div class="sidebar-item-show">
        <p>系统首页</p>
      </div>
      <div class="sidebar-item-hover">
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>基础信息</span></p>
          <ul class="hover-ul">
            <li class="hover-li">
              <a routerLink="{{orgLink}}">{{orgType}}信息</a>
            </li>
            <li class="hover-li">
              <a routerLink="{{orgInputLink}}">{{orgType}}信息录入</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="sidebar-item basic-item">
      <div class="sidebar-item-show">
        <p>基础数据</p>
      </div>
      <div class="sidebar-item-hover"></div>
    </li>
    <li class="sidebar-item system-item">
      <div class="sidebar-item-show">
        <p>系统管理</p>
      </div>
      <div class="sidebar-item-hover"></div>
    </li>
    <li class="sidebar-item staff-item">
      <div class="sidebar-item-show">
        <p>收费人员</p>
      </div>
      <div class="sidebar-item-hover"></div>
    </li>
    <li class="sidebar-item affairs-item">
      <div class="sidebar-item-show">
        <p>内务管理</p>
      </div>
      <div class="sidebar-item-hover"></div>
    </li>
  </ul>
</div>
