<div class="sidebar-container">
  <ul class="sidebar-items">
    <li class="sidebar-item basic-item" [class.actived]="isBasic()">
      <div class="sidebar-item-show">
        <p>基础数据</p>
      </div>
      <div class="sidebar-item-hover">
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>基础信息</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="tollStation">收费站信息</a>
            </li>
            <li class="hover-li">
              <a routerLink="tollStationInput">收费站信息录入</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li  [class.actived]="testHash('staff')" class="sidebar-item staff-item">
      <div class="sidebar-item-show">
        <p>人员管理</p>
      </div>
      <div class="sidebar-item-hover">
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>人员管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/main/staff/search">人员查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/staff/count">人员统计</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/staff/edit">人员录入</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>班组排版管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/main/staff/teamScheduleSearch">排班查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/staff/teamScheduleMod">排班模板设置</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/staff/teamScheduleSet">排班班次设置</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>人员调班管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/main/staff/switchSearch">调(顶)班查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/staff/switchEdit">调班登记</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/staff/returnEdit">还班登记</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/staff/holdEdit">顶班登记</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>人员请假管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/main/staff/leaveSearch">请假查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/staff/leaveEdit">请假登记</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>考勤管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/main/staff/attendanceCompare">出勤考核</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/staff/attendanceCheck">人员出勤统计</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/staff/attendanceEdit">人员出勤录入</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>服装管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/main/staff/clothSearch">在用服装查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/staff/clothHistory">历史服装查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/staff/clothAdd">服装登记</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>星评管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/main/staff/checkSearch">星评查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/staff/checkEdit">星评录入</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li [class.actived]="testHash('internal')" class="sidebar-item affairs-item">
      <div class="sidebar-item-show">
        <p>内务管理</p>
      </div>
      <div class="sidebar-item-hover">
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>学习培训管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/main/internal/trainPlanSearch">培训计划查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/internal/trainPlan">培训计划</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/internal/trainExecuteSearch">培训落实查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/internal/trainExecute">培训落实</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/internal/trainStatic">培训统计</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>站务会管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/main/internal/stationSearch">站务会查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/internal/stationInput">站务会录入</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>谈心管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/main/internal/talkSearch">谈心查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/internal/talkInput">谈心录入</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/internal/talkCount">谈心统计</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>文档上传</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/main/internal/docSearch">文档查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/internal/docInput">文档上传</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>收费设备设施信息</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/main/internal/deviceSearch">收费设备设施查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/internal/deviceInput">收费设备设施录入</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li [class.actived]="testHash('green')" class="sidebar-item green-item">
      <div class="sidebar-item-show">
        <p>绿通</p>
      </div>
      <div class="sidebar-item-hover">
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>绿通流水管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/main/green/history">绿通车历史信息查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/green/search">绿通流水查询</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/green/check">绿通流水审核</a>
            </li>
          </ul>
        </div>
        <div class="hover-item">
          <p class="hover-title"><span class="circle"></span><span>货物管理</span></p>
          <ul class="hover-ul clearfix">
            <li class="hover-li">
              <a routerLink="/main/green/goodsControl">货物分类管理</a>
            </li>
            <li class="hover-li">
              <a routerLink="/main/green/goodsSearch">货物分类查询</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <!-- <li class="sidebar-item system-item">
      <div class="sidebar-item-show">
        <p>系统管理</p>
      </div>
      <div class="sidebar-item-hover"></div>
    </li> -->
  </ul>
</div>
