.switch-choose-container{
  width: 100%;
  height: 40px;
  position: relative;

  .loading {
    z-index: 100;
    height: 200px;
    width: 630px;
    position: absolute;
    top: 25px;
    float: left;
    opacity: 0.3;
    border-radius: 5px;
    background: #ddd url('/assets/images/loading.gif') no-repeat center center;
  }

  .switch-value{
    border: 1px solid #999;
    height: 38px;
    border-radius: 5px;
    cursor: text;
    line-height: 38px;
    text-indent: 15px;
  }

  .switch-table-container{
    position: absolute;
    top: 40px;
    left: 0;
    width: 628px;
    height: 198px;
    border: 1px solid #d4d4d4;
    background: #fff;
    line-height: 40px;
    z-index: 99;
  }

  .ul-header-container{
    height: 40px;
    border-bottom: 1px solid #333;

    li{
      float: left;
      height: 40px;

      &.li-userName{
        width: 140px;
      }

      &.li-scheduleDate{
        width: 125px;
      }

      &.li-teamsGroup{
        width: 105px;
      }

      &.li-shiftId{
        width: 105px;
      }

      &.li-index{
        width: 30px;
        text-align: center;
      }

      &.li-type{
        width: 106px;
      }
    }
  }
}

.ul-body-container{
  overflow-y: scroll;
  height: 160px;

  .ul-header-container{
    border: none;
  }
}
