<h1 class="page-title"><div class="page-title-icon"></div>谈心统计</h1>
<div class="part-container">
  <div class="main-container">
    <div class="condition-container">
      <h1 class="part-title">谈心管理统计</h1>
      <div class="part-content">
        <div class="searchbar-container clearfix">
          <div>
            <div>
              <span>收费站</span>
              <select>
                <option value=""></option>
              </select>
            </div>
            <div>
              <span>季度</span>
              <select>
                <option value=""></option>
              </select>
            </div>
            <div>
              <span>年份</span>
              <select>
                <option value=""></option>
              </select>
            </div>
            <div class="search-btn" (click)="search()">查询</div>
          </div>
        </div>
      </div>
    </div>
    <div class="chart-container">
      <div class="part-content">
        <img src="/assets/images/attendance-check.png" alt="">
      </div>
    </div>
    <div class="table-container">
      <div class="part-content">
        <div>
          <table class="myTable">
            <thead>
              <tr>
                <th *ngFor="let field of cols">{{field.header}}</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let item of leaveList">
                <td *ngFor="let field of cols">{{item[field.field]}}</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
