<h1 class="page-title"><div class="page-title-icon"></div>人员明细</h1>
<div class="part-container">
  <div class="basic-info-container">
    <h1 class="part-title">基本信息</h1>
    <div class="part-content clearfix">
      <div class="img-container">
        <img [attr.src]="data.iconUrl || '/assets/images/staff-photo.jpg'" alt="">
      </div>
      <div class="basic-info-div">
        <ul class="basic-info-ul">
          <li class="basic-info-item userName">
            <span>姓名：</span>{{data.userName}}
          </li>
          <li class="basic-info-item educational">
            <span>学历：</span>{{educational[data.educational - 1]}}
          </li>
          <li class="basic-info-item userSex">
            <span>性别：</span>{{data.userSex}}
          </li>
          <li class="basic-info-item work_post">
            <span>岗位：</span>{{work_post[data.workPost]}}
          </li>
          <li class="basic-info-item userTel">
            <span>手机号：</span>{{data.userTel}}
          </li>
          <li class="basic-info-item birthday">
            <span>出生日期：</span>{{data.birthday}}
          </li>
          <li class="basic-info-item age">
            <span>年龄：</span>{{age(data.birthday)}}岁
          </li>
          <li class="basic-info-item practitioner">
            <span>从业证书：</span>{{data.practitionerCertificate}}
          </li>
          <li class="basic-info-item UserId">
            <span>人员编码：</span>{{data.UserId}}
          </li>
          <li class="basic-info-item collectionSysId">
            <span>系统工号：</span>{{data.collectionSysId}}
          </li>
          <li class="basic-info-item orgName">
            <span>组织名称：</span>{{data.orgName}}
          </li>
          <li class="basic-info-item workLicense">
            <span>上岗证编号：</span>{{data.workLicense}}
          </li>
          <li class="basic-info-item hireDate">
            <span>入职时间：</span>{{data.hireDate}}
          </li>
          <li class="basic-info-item workyear">
            <span>工龄：</span>{{age(data.hireDate)}}年
          </li>
          <li class="basic-info-item specialSkill">
            <span>特长：</span>{{data.specialSkill}}
          </li>
          <li *ngIf="data.listGroup" class="basic-info-item specialSkill">
            <span>班组：</span>{{data.listGroup}}
          </li>
          <li class="basic-info-item specialSkill">
            <span>政治面貌：</span>{{politicalStatus[data.politicalStatus]}}
          </li>
          <li class="basic-info-item specialSkill">
            <span>职称：</span>{{positionalTitle[data.positionalTitle]}}
          </li>
          <li class="basic-info-item specialSkill">
            <span>紧急联系人：</span>{{data.emergencyContact}}
          </li>
          <li class="basic-info-item specialSkill">
            <span>紧急联系人手机号：</span>{{data.emergencyPhone}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div [class.not-toll-station]="data.orgType !== 3" class="other-container">
    <div>
      <h1 class="part-title">星评情况</h1>
      <div class="part-content2 score-container clearfix">
        <div class="comprehensive">
          <p class="item">综合考核</p>
          <p class="value">{{data.compositScore || '暂无'}}</p>
        </div>
        <div class="business">
          <p class="item">业务考核</p>
          <p class="value">{{data.examScore || '暂无'}}</p>
        </div>
        <div class="level">
          <p class="item">等级考核</p>
          <p class="value">{{data.mandarinLevel || '暂无'}}</p>
        </div>
        <div class="star">
          <p class="item">星级考核</p>
          <p class="value">{{data.userStar || '暂无'}}</p>
        </div>
      </div>
    </div>
    <div>
      <h1 class="part-title">获奖情况</h1>
      <div class="part-content2 list-str">
        <p>{{data.awardDetail}}</p>
      </div>
    </div>
    <div>
      <h1 class="part-title">工作履历</h1>
      <div class="part-content2 list-str">
        <p>{{data.jobDetail}}</p>
      </div>
    </div>
  </div>
  <button class="btn return-btn" (click)="goBack()">返回</button>
</div>
