<div class="navbar-container">
  <div class="title-container"></div>
  <h1 class="title-h1">川高系统高速公路收费综合管理平台</h1>
  <ul class="navbar-items">
    <li *ngIf="3 === orgType && isAdmin" class="navbar-item" (mouseover)="showNoteDetail()" (mouseleave)="hideNoteDetail()">
      <i class="fa fa-bell-o"></i>
      <span>{{noteCount}}</span>
      <div *ngIf="isShowDetail" class="note-detail">
        <div class="note-item">
          <div class="title">待审核调班记录：</div>
          <div class="content" (click)="linkDetail('shift')">{{noteData.shiftChangeCount || 0}}</div>条
        </div>
        <div class="note-item">
          <div class="title">待审核还班记录：</div>
          <div class="content" (click)="linkDetail('return')">{{noteData.returnCount || 0}}</div>条
        </div>
        <div class="note-item">
          <div class="title">待审核顶班记录：</div>
          <div class="content" (click)="linkDetail('replace')">{{noteData.replaceCount || 0}}</div>条
        </div>
        <div class="note-item">
          <div class="title">待审核请假记录：</div>
          <div class="content" (click)="linkDetail('leave')">{{noteData.leaveCount || 0}}</div>条
        </div>
      </div>
    </li>
    <!-- <li class="navbar-item">
      <i class="fa fa-star-o"></i>
      <span>0</span>
    </li> -->
    <li *ngIf="2 === isAdmin" class="navbar-item user-item" style="cursor: auto;">
      <p>{{role}}</p>
    </li>
    <li *ngIf="2 !== isAdmin" class="navbar-item user-item" (click)="showUserManager()">
      <p>{{role}}</p>
      <div *ngIf="isShowManager" class="manager-list" (click)="linkDetail('editPassword')">
          <div class="manager-item">
            <div class="log"></div><div class="title">修改密码</div>
          </div>
      </div>
    </li>
    <li class="navbar-item logout-item">
      <img (click)="logout()" src="/assets/images/shutdown.png" alt="">
    </li>
  </ul>
</div>