<h1 class="page-title"><div class="page-title-icon"></div>路公司信息</h1>
<div class="basic-container">
  <div class="company-des part-container">
    <h1 class="part-title">公司简介</h1>
    <div class="part-content company-briefIntro clearfix">
      <p>{{data.briefIntro}}</p>
      <img class="company-img" src="" alt="">
    </div>
  </div>
  <div class="basic-info part-container">
    <h1 class="part-title">基本信息</h1>
    <div class="basic-items part-content">
      <ul class="clearfix">
        <li class="basic-info-item shortname"><span>名称</span>{{data.shortName}}</li>
        <li class="basic-info-item"><span>编号</span>{{data.companyCode}}</li>
        <li class="basic-info-item"><span>纬度</span>{{data.latitude}}</li>
        <li class="basic-info-item"><span>经度</span>{{data.longitude}}</li>
        <li class="basic-info-item"><span>所辖路段里程</span>{{data.totalMileage}}</li>
        <li class="basic-info-item"><span>联系人</span>{{data.contacts}}</li>
        <li class="basic-info-item"><span>机构代码</span>{{data.organizationCode}}</li>
        <li class="basic-info-item"><span>全称</span>{{data.companyName}}</li>
        <li class="basic-info-item"><span>联系电话</span>{{data.phoneNo}}</li>
        <li class="basic-info-item"><span>地址</span>{{data.address}}</li>
      </ul>
    </div>
  </div>
</div>
