<h1 class="page-title"><div class="page-title-icon"></div>收费站信息</h1>
<div class="basic-container">
  <div class="company-des part-container">
    <h1 class="part-title">收费站简介</h1>
    <div class="part-content company-briefIntro clearfix">
      <p>
        <img *ngIf="data.stationImg0 && data.stationImg0.filePath" class="company-img" [src]="data.stationImg0.filePath" alt="">
        {{data.stationIntroduce}}
      </p>
    </div>
  </div>
  <div class="basic-info part-container">
    <h1 class="part-title">基本信息</h1>
    <div class="basic-items part-content">
      <ul class="clearfix">
        <li class="basic-info-item shortName"><span>名称</span>{{data.stationName}}</li>
        <li class="basic-info-item companyCode"><span>编号</span>{{data.stationCode}}</li>
        <li class="basic-info-item address"><span>所属行政区域</span>{{data.belongToRegion}}</li>
        <li class="basic-info-item direction"><span>方向</span>{{data.stationDirection}}</li>
        <li class="basic-info-item stationType"><span>类型</span>{{data.stationType}}</li>
        <li class="basic-info-item usedName"><span>曾用名</span>{{data.stationUsedName}}</li>
        <li class="basic-info-item sign"><span>省界站标志</span>{{data.companyCode}}</li>
        <li class="basic-info-item monitoring"><span>监控室面积(平方米)</span>{{data.monitoringRoomArea}}</li>
        <li class="basic-info-item latitude"><span>纬度</span>{{data.latitude}}</li>
        <li class="basic-info-item pile"><span>桩号</span>{{data.stationPileNumber}}</li>
        <li class="basic-info-item areaCovere"><span>占地面积(平方米)</span>{{data.areaCovere}}</li>
        <li class="basic-info-item longitude"><span>经度</span>{{data.longitude}}</li>
        <li class="basic-info-item class"><span>类别（一、二、三）</span>{{data.stationClass}}</li>
        <li class="basic-info-item staff"><span>收费站人数</span>{{data.staffNumber}}</li>
        <li class="basic-info-item floorArea"><span>建筑面积（平方米）</span>{{data.floorArea}}</li>
        <li class="basic-info-item agricul"><span>绿通检测设备数量</span>{{data.agriculTuralCheckCount}}</li>
      </ul>
    </div>
  </div>
</div>
<div class="flex-container-between media-container">
  <div class="station-connect part-container">
    <h1 class="part-title">联系电话</h1>
    <div class="flex-container-between station-contact">
      <div class="inner-contact">
        <div class="part-content2">
          <p class="station-content-title">对内联系</p>
          <ul>
              <li *ngIf="data.masterName">
              <span class="station-span1">{{data.masterName}}<span class="work-post">(站长)</span></span>{{data.masterPhone}}
            </li>
            <li *ngIf="data.viceMaster1Name">
              <span class="station-span1">{{data.viceMaster1Name}}<span class="work-post">(副站长)</span></span>{{data.viceMaster1Phone}}
            </li>
            <li *ngIf="data.viceMaster2Name">
              <span class="station-span1">{{data.viceMaster2Name}}<span class="work-post">(副站长)</span></span>{{data.viceMaster2Phone}}
            </li>
            <li *ngIf="data.viceMaster3Name">
              <span class="station-span1">{{data.viceMaster3Name}}<span class="work-post">(副站长)</span></span>{{data.viceMaster3Phone}}
            </li>
          </ul>
        </div>
      </div>
      <div class="outter-contact">
        <div class="part-content2">
          <p class="station-content-title">对外联系</p>
          <ul>
            <li *ngIf="data.regionPlice">
              <span class="station-span1">{{data.regionPlice}}</span>{{data.regionPolicePhone}}
            </li>
            <li *ngIf="data.localUrgent">
              <span class="station-span1">{{data.localUrgent}}</span>{{data.localUrgentPhone}}
            </li>
            <li *ngIf="data.bankName">
              <span class="station-span1">{{data.bankName}}</span>{{data.bankPhone}}
            </li>
            <li *ngIf="data.trafficDepartment">
              <span class="station-span1">{{data.trafficDepartment}}</span>{{data.trafficDepartmentPhone}}
            </li>
            <li *ngIf="data.trafficPolice">
              <span class="station-span1">{{data.trafficPolice}}</span>{{data.trafficPolicePhone}}
            </li>
            <li *ngIf="data.appraisalDepartment">
              <span class="station-span1">{{data.appraisalDepartment}}</span>{{data.appraisalDepartmentPhone}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="station-lines part-container">
    <h1 class="part-title">车道信息</h1>
    <div class="flex-container-between">
      <div class="station-line inner-line">
        <div class="part-content2">
          <p class="station-content-title">入口车道信息</p>
          <ul>
            <li *ngIf="data.enlaneDesignCount">
              <span class="station-span1">设计道口数</span>{{data.enlaneDesignCount}}
            </li>
            <li *ngIf="data.enlaneUlTraWideWidth">
              <span class="station-span1">超宽车道宽度</span>{{data.enlaneUlTraWideWidth}}
            </li>
            <li *ngIf="data.enlaneFactCount">
              <span class="station-span1">实际道口数</span>{{data.enlaneFactCount}}
            </li>
            <li *ngIf="data.enlaneBlendCount">
              <span class="station-span1">混合车道道口数</span>{{data.enlaneBlendCount}}
            </li>
            <li *ngIf="data.enlaneMtcCount">
              <span class="station-span1">MTC道口数</span>{{data.enlaneMtcCount}}
            </li>
            <li *ngIf="data.enlaneWeightCount">
              <span class="station-span1">治超设备数</span>{{data.enlaneWeightCount}}
            </li>
            <li *ngIf="data.enlaneEtcCount">
              <span class="station-span1">ETC道口数</span>{{data.enlaneEtcCount}}
            </li>
            <li *ngIf="data.enlaneAutoCount">
              <span class="station-span1">自动发卡设备数</span>{{data.enlaneAutoCount}}
            </li>
          </ul>
        </div>
      </div>
      <div class="station-line outer-line">
        <div class="part-content2">
          <p class="station-content-title">出口车道信息</p>
          <ul>
            <li *ngIf="data.exlaneDesignCount">
              <span class="station-span1">设计道口数</span>{{data.exlaneDesignCount}}
            </li>
            <li *ngIf="data.exlaneUlTraWideWidth">
              <span class="station-span1">超宽车道宽度</span>{{data.exlaneUlTraWideWidth}}
            </li>
            <li *ngIf="data.exlaneFactCount">
              <span class="station-span1">实际道口数</span>{{data.exlaneFactCount}}
            </li>
            <li *ngIf="data.exlaneBlendCount">
              <span class="station-span1">混合车道道口数</span>{{data.exlaneBlendCount}}
            </li>
            <li *ngIf="data.exlaneMtcCount">
              <span class="station-span1">MTC道口数</span>{{data.exlaneMtcCount}}
            </li>
            <li *ngIf="data.exlaneWeightCount">
              <span class="station-span1">治超设备数</span>{{data.exlaneWeightCount}}
            </li>
            <li *ngIf="data.exlaneEtcCount">
              <span class="station-span1">ETC道口数</span>{{data.exlaneEtcCount}}
            </li>
          </ul>
        </div>
      </div>
      <div class="station-line other-line">
        <div class="part-content2">
          <p class="station-content-title">其他信息</p>
          <ul>
            <li *ngIf="data.agriculTuralCheckCount">
              <span class="station-span1">绿通检测设备数</span>{{data.agriculTuralCheckCount}}
            </li>
            <li *ngIf="data.laneMultipleCount">
              <span class="station-span1">复式车道道口数</span>{{data.laneMultipleCount}}
            </li>
            <li *ngIf="data.laneVariableCount">
              <span class="station-span1">可变车道道口数</span>{{data.laneVariableCount}}
            </li>
            <li *ngIf="data.laneEmergencyCount">
              <span class="station-span1">应急车道设备数</span>{{data.laneEmergencyCount}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex-container-between">
  <div class="history part-container">
    <h1 class="part-title">收费站历史荣誉</h1>
    <div class="part-content company-briefIntro clearfix">
      <p>
        <img *ngIf="data.stationImg2 && data.stationImg2.length" src="/assets/images/bignews.png" alt="">
        <img *ngFor="let img of data.stationImg2; index as i" class="company-img" [class.actived]="isActiveImg2(i)" [src]="img.filePath" alt="">
        {{data.stationHorstoryHonor}}
      </p>
    </div>
  </div>
  <div class="bignews part-container">
    <h1 class="part-title">收费站大事记</h1>
    <div class="part-content company-briefIntro clearfix">
      <p>
        <img *ngIf="data.stationImg1 && data.stationImg1.length" src="/assets/images/bignews.png" alt="">
        <img *ngFor="let img of data.stationImg1; index as i" class="company-img" [class.actived]="isActiveImg1(i)" [src]="img.filePath" alt="">
        {{data.stationEventHistory}}
      </p>
    </div>
  </div>
</div>
<div class="staff-container part-container">
    <h1 class="part-title">员工信息墙</h1>
    <ul class="part-content clearfix">
      <li [routerLink]="['../staffDetail']" [queryParams]="{id: staff.userId}" class="staff-item" *ngFor="let staff of data.staffList">
        <img [attr.src]="staff.userIcon || '/assets/images/photo.png'" alt="">
        <p>{{staff.userName}}</p>
        <span>{{workTrans[staff.workPost]}}</span>
      </li>
    </ul>
  </div>
