<h1 class="page-title"><div class="page-title-icon"></div>调顶班查询</h1>
<div class="part-container">
  <div class="main-container">
    <div class="condition-container">
      <h1 class="part-title">排班模式数据设置</h1>
      <div class="part-content clearfix">
        <form [formGroup]="form">
          <div class="form-item">
            <p>选择收费站</p>
            <div class="tree-container">
              <app-drop-org-tree [selectionMode]="single" (selectedOrg)="selectedOrg($event)"></app-drop-org-tree>
            </div>
          </div>
          <div class="form-item">
            <p>班组</p>
            <input type="text" formControlName="teamsGroup">
          </div>
          <div class="form-item">
            <p>班次</p>
            <input type="text" formControlName="shiftId">
          </div>
          <div class="form-item">
            <p>选择收费员</p>
            <input type="text" formControlName="userId">
          </div>
          <div class="form-item">
            <p>开始日期</p>
            <p-calendar [(ngModel)]="startTime" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
          </div>
          <div class="form-item">
            <p>结束日期</p>
            <p-calendar [(ngModel)]="endTime" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
          </div>
          <div class="form-item">
            <button class="form-btn">查询排班情况</button>
          </div>
        </form>
      </div>
    </div>
    <div class="table-container">
      <h1 class="part-title">排班详情</h1>
      <div class="scroll-table-container">
        <div class="part-content">
          <div>
            <table class="myTable">
              <thead>
                <tr>
                  <th *ngFor="let field of cols">{{field.header}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of staffList">
                  <td *ngFor="let field of cols">{{item[field.field]}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p-paginator *ngIf="hasData" [rows]="size" [totalRecords]="count" (onPageChange)="paginate($event)"></p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
