.main-container{
  display: flex;
  justify-content: space-between;

  .condition-container{
    width: 25%;
    min-width: 315px;
  }

  .table-container{
    width: 75%;
    max-width: calc(100% - 315px);
  }
}

form{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .form-item{
    width: 50%;
    margin-bottom: 20px;

    p{
      font-size: 16px;
      color: #333;
      margin-bottom: 5px;

      .form-required{
        color: red;
      }
    }

    input{
      width: calc(100% - 30px);
      padding-right: 15px;
      height: 38px;
      text-indent: 15px;
      border-radius: 5px;
      box-shadow: none;
      border: 1px solid #d9d9d9;

      &:disabled{
        background: #eee;
      }
    }

    .tree-container{
      width: 100%;
      height: 38px;
      border-radius: 5px;
      border: 1px solid #d9d9d9;
    }

    select{
      width: 100%;
      height: 40px;
      background: #fff;
    }

    &.form-textarea{
      width: 95%;

      textarea{
        width: calc(100% - 30px);
        height: 70px;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid #d9d9d9;
        resize: none;
      }
    }

    &.form-checkbox{
      p{
        display: inline-block;
        line-height: 40px;
      }
    }

    button{
      width: 100%;
      height: 40px;
      border: none;
      border-radius: 20px;
      background: #6c9cff;
      cursor: pointer;
      margin-top: 27px;
      color: #fff;
      font-size: 18px;
      outline: none !important;
    }
  }

  .form-checkbox{
    width: 100%;

    p{
      font-size: 16px;
      color: #333;
      margin-bottom: 5px;
      display: inline-block;
      line-height: 40px;
    }

    >div {
      height: 40px;
      line-height: 40px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;

      label{
        font-size: 14px;
        margin-right: 5px;
        width: 33%;

        div{
          display: inline-block;
          height: 18px;
          width: 18px;
          border: 1px solid #d9d9d9;
          border-radius: 3px;
          position: relative;
          top: 6px;
          margin-right: 5px;
          border-radius: 10px;

          &.checked{
            border: 6px solid #6c9cff;
            height: 8px;
            width: 8px;
          }
        }

        input{
          display: none;
        }
      }
    }

  }
}

.scroll-table-container{

  .part-content{

    >div {
      overflow: scroll;
      padding-bottom: 10px;

      .myTable{
        min-width: 100%;

        th{
          background: #e2ebff;
          padding: 0 30px;
          text-align: center;
          border: 1px solid #fff;
          font-size: 14px;
          height: 40px;
          line-height: 40px;
          color: #666;
          white-space: nowrap;
        }

        td{
          padding: 0 30px;
          white-space: nowrap;
          text-align: center;
          border: 1px solid #fff;
          background: #ededed;
          font-size: 14px;
          height: 40px;
          line-height: 40px;
          color: #666;

          img{
            cursor: pointer;
          }
        }
      }
    }
  }
}

.mod-btns{
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;

  span{
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;

    &.mod-btn-add{
      float: left;
      background: #6c9cff;
    }

    &.mod-btn-del{
      float: right;
      background: #fca157;
    }
  }
}

.mod-container{

  ul{
    margin-top: 15px;

    .mod-li{
      height: 40px;
      margin-bottom: 20px;

      .checkbox-container{
        display: inline-block;

        div{
          width: 14px;
          height: 14px;
          border: 1px solid #ddd;
          border-radius: 3px;

          &.checked{
            background: #6c9cff url('/assets/images/checked.png') no-repeat center center;
            border: none;
            height: 16px;
            width: 16px;
            background-size: 80%;
          }
        }

        input{
          display: none;
        }
      }

      .mod{
        cursor: pointer;
        display: inline-block;
        margin-left: 14px;
        height: 38px;
        width: calc(100% - 40px);
        border: 1px solid #ddd;
        border-radius: 5px;
        line-height: 38px;
        color: #666;

        .mod-des{
          margin-left: 15px;
        }

        .mod-day{
          float: right;
          margin-right: 15px;
        }
      }
    }
  }
}

button{
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 20px;
  background: #6c9cff;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  outline: none !important;
}
