.main-container{
  min-height: calc(100% - 61px);
  width: calc(100% - 100px);
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 61px;
  padding-left: 100px;
  background: #dce8ff;

  .main{
    padding: 0 30px;
    padding-bottom: 20px;
  }
}
