<h1 class="page-title"><div class="page-title-icon"></div>服装录入</h1>
<div *ngIf="isChosen" class="part-container">
  <h1 class="part-title">服装登记</h1>
  <div class="part-content">
    <form [formGroup]="form">
      <div class="form-item">
        <p>所属机构</p>
        <div>{{orgName}}</div>
      </div>
      <div class="form-item">
        <p>收费员</p>
        <select formControlName="userId">
          <option value="">请选择</option>
          <option *ngFor="let user of staffList" [value]="user.userId">{{user.userName}}</option>
        </select>
      </div>
      <div class="form-item">
        <p>服装信息</p>
        <app-cloth-choose (chosenCloth)="chosenCloth($event)"></app-cloth-choose>
      </div>
      <div class="form-item">
        <p>服装类型</p>
        <div>{{clothesTypeList[+clothesType]}}</div>
      </div>
      <div class="form-item">
        <p>服装类别</p>
        <div>{{clothesClassificationList[+clothesClassification]}}</div>
      </div>
      <div class="form-item">
        <p>服装性别</p>
        <div>{{clothesSex}}</div>
      </div>
      <div class="form-item">
        <p>服装尺寸</p>
        <input type="text" formControlName="clothesSize">
      </div>
      <div class="form-item">
        <p>数量</p>
        <input type="text" formControlName="clothesNum">
      </div>
      <div class="form-item">
        <p>开始日期</p>
        <p-calendar [(ngModel)]="clothesDate" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="form-item">
        <p>结束日期</p>
        <p-calendar [(ngModel)]="clothesChangeDate" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
    </form>
    <div class="form-item">
      <button (click)="submit()" class="form-btn">提&nbsp;交</button>
    </div>
  </div>
</div>
<div class="part-container">
  <div class="staff-navbar">
    <h1 class="part-title">服装登记</h1>
    <div class="part-content clearfix">
      <ul class="btn-list cleafix">
        <li (click)="add()" class="btn-list-li">添加</li>
        <li (click)="delete()" class="btn-list-li">删除</li>
      </ul>
      <div class="searchbar-container">
        <input type="text" [(ngModel)]="searchName">
        <div (click)="search()">查询</div>
      </div>
    </div>
  </div>
  <div class="table-container">
    <div class="part-content">
      <div>
        <table class="myTable">
          <thead>
            <tr>
              <th></th>
              <th *ngFor="let field of cols" class="sortable" [class.forward]="field.isSort && order === 0" [class.reverse]="field.isSort && order === 1" (click)="sortByThis(field)">{{field.header}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of clothesDataList">
              <td><input type="checkbox" (click)="select(item.id)" [checked]="check(item.id)"></td>
              <td *ngFor="let field of cols">{{item[field.field]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p-paginator *ngIf="hasData" [rows]="param.size" [totalRecords]="count" (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>
</div>
