.input-select-container{
  width: 100%;
  position: relative;

  input{
    border: 1px solid #999;
    height: 38px;
    border-radius: 5px;
    cursor: text;
    line-height: 38px;
    text-indent: 15px;
    width: 100%;
  }

  ul{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    overflow: scroll;
    z-index: 99;
    max-height: 200px;
    border: 1px solid #999;
    display: none;
    background: #fff;

    &.show{
      display: block;
    }

    li{
      text-indent: 15px;

      &:hover{
        background: #3F80FA;
        color: #fff;
      }
    }
  }
}
