<h1 class="page-title"><div class="page-title-icon"></div>调班登记</h1>
<div *ngIf="view !== 0" class="part-container">
  <h1 class="part-title">调班信息填报</h1>
  <div class="part-content">
    <div *ngIf="view === 1">
      <form [formGroup]="form">
        <div class="form-item">
          <p>换班人所在班组</p>
          <select (change)="applyTeamsChange($event)" formControlName="applyTeams">
            <option value="0">请选择</option>
            <option value="1">一班</option>
            <option value="2">二班</option>
            <option value="3">三班</option>
            <option value="4">四班</option>
            <option value="5">五班</option>
            <option value="6">六班</option>
            <option value="7">机动班</option>
            <option value="8">常白班</option>
            <option value="100">站监控站</option>
          </select>
        </div>
        <div class="form-item">
          <p>换班申请人</p>
          <app-input-select (selectUser)="applyUserChoose($event)" [staffList]="applyStaffList" [initUser]="applyUserName"></app-input-select>
          <div *ngIf="loadingStaffs" class="loading" style="top: 205px;"></div>
        </div>
        <div class="form-item">
          <p>换班信息</p>
          <app-switch-choose [userName]="applyUserName" (chosenSchedule)="chooseApplySchedule($event)" [userId]="applyUserId" [teams]="applyTeams"></app-switch-choose>
        </div>
        <div *ngIf="applyInfo" class="form-item">
          <p>换班详细信息</p>
          <span>换班日期：{{applyInfo.scheduleDate}}&nbsp;换班班次：{{shiftId[applyInfo.shiftId]}}</span>
        </div>
      </form>
      <div *ngIf="notUpdate" class="form-checkbox">
        <p>请选择调班类型</p>
        <div>
          <label><div [class.checked]="test(1)"></div><input (click)="checkType($event)" [checked]="test(1)" value="1" type="checkbox"><span>替班</span></label>
          <label><div [class.checked]="test(2)"></div><input (click)="checkType($event)" [checked]="test(2)" value="2" type="checkbox"><span>还班</span></label>
        </div>
      </div>
      <form *ngIf="checkItem === 1" [formGroup]="form">
        <div class="form-item">
          <p>替班人所在班组</p>
          <select (change)="backTeamsChange($event)" formControlName="backTeams">
            <option value="0">请选择</option>
            <option value="1">一班</option>
            <option value="2">二班</option>
            <option value="3">三班</option>
            <option value="4">四班</option>
            <option value="5">五班</option>
            <option value="6">六班</option>
            <option value="7">机动班</option>
            <option value="8">常白班</option>
            <option value="100">站监控站</option>
          </select>
        </div>
        <div class="form-item">
          <p>替班申请人</p>
          <app-input-select (selectUser)="backUserChoose($event)" [staffList]="backStaffList" [initUser]="backUserName"></app-input-select>
          <div *ngIf="loadingBackStaff" class="loading" style="top: 290px;"></div>
        </div>
        <div class="form-item">
          <p>替班信息</p>
          <app-switch-choose [userName]="backUserName" (chosenSchedule)="chooseBackSchedule($event)" [userId]="backUserId" [teams]="backTeams"></app-switch-choose>
        </div>
        <div *ngIf="backInfo" class="form-item">
          <p>替班详细信息</p>
          <span>替班日期：{{backInfo.scheduleDate}}&nbsp;替班班次：{{shiftId[backInfo.shiftId]}}</span>
        </div>
      </form>
      <form *ngIf="checkItem === 2" [formGroup]="form">
        <div class="form-item">
          <p>还班日期</p>
          <p-calendar [(ngModel)]="returnDate" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
        </div>
        <div class="form-item">
          <p>还班班次</p>
          <select formControlName="returnShift">
            <option value="0">请选择</option>
            <option value="1">白班</option>
            <option value="2">夜班</option>
          </select>
        </div>
      </form>
      <form [formGroup]="form">
        <div class="form-item form-textarea">
          <p>备注</p>
          <textarea type="text" formControlName="remark"></textarea>
        </div>
      </form>
      <div class="form-item">
        <button (click)="submit()" class="form-btn">提&nbsp;交</button>
      </div>
    </div>
  </div>
</div>
<div class="part-container">
  <div class="staff-navbar">
    <h1 class="part-title">调班登记</h1>
    <div class="part-content clearfix">
      <ul class="btn-list cleafix">
        <li (click)="add()" class="btn-list-li">换班</li>
        <li (click)="update()" class="btn-list-li">修改</li>
        <li (click)="delete()" class="btn-list-li">删除</li>
      </ul>
      <div class="searchbar-container">
        <span>调班申请日期</span>
        <span>开始日期</span>
        <div class="calendar-container">
          <p-calendar [(ngModel)]="applyDate" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
        </div>
        <span>结束日期</span>
        <div class="calendar-container">
          <p-calendar [(ngModel)]="applyDateEnd" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
        </div>
        <div class="search-btn" (click)="search()">查询</div>
      </div>
    </div>
  </div>
  <div class="table-container">
    <div class="part-content">
      <div>
        <table class="myTable">
          <thead>
            <tr>
              <th></th>
              <th *ngFor="let field of cols" class="sortable" [class.forward]="field.isSort && order === 0" [class.reverse]="field.isSort && order === 1" (click)="sortByThis(field)">{{field.header}}</th>
              <th>调（顶）班申请审核</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of shiftChangeDataList">
              <td><input type="checkbox" (click)="select(item)" [checked]="check(item.id)"></td>
              <td *ngFor="let field of cols">{{item[field.field]}}</td>
              <td>
                <div *ngIf="item.checkResult === 0 && !item.overDeadline">
                  <button (click)="changeCheckStatus(item.id, 1)" class="btn btn-success">通过</button>
                  <button (click)="changeCheckStatus(item.id, 2)" class="btn btn-danger">不通过</button>
                </div>
                <span *ngIf="item.checkResult === 1">通过</span>
                <span *ngIf="item.checkResult === 2">未通过</span>
                <span *ngIf="item.checkResult === 0 && item.overDeadline">已超时</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p-paginator *ngIf="hasData" [rows]="param.size" [totalRecords]="count" (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>
</div>
