<div class="part-container">
  <div class="staff-navbar">
    <div class="part-content clearfix">
      <form [formGroup]="form">
        <div class="form-item">
          <p>收费员</p>
          <select formControlName="userId" (change)="getInfo()">
            <option value="">请选择</option>
            <option *ngFor="let user of staffList" [value]="user.userId">{{user.userName}}</option>
          </select>
        </div>
        <div class="form-item">
          <p>收费员职位</p>
          <div><span *ngIf="data&&data.workPost">{{workPost[data.workPost]}}</span></div>
        </div>
        <div class="form-item">
          <p>普通话等级</p>
          <select formControlName="mandarinLevel">
            <option value="1">三乙</option>
            <option value="2">三甲</option>
            <option value="3">二乙</option>
            <option value="4">二甲</option>
            <option value="5">一乙</option>
            <option value="6">一甲</option>
          </select>
        </div>
        <div class="form-item">
          <p>普通话等级评定时间</p>
          <p-calendar [(ngModel)]="mandarinLevelEvaluate" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
        </div>
        <div class="form-item">
          <p>计算机等级</p>
          <select formControlName="computerLevel">
            <option value="3">其他</option>
            <option value="1">一级</option>
            <option value="2">二级</option>
          </select>
        </div>
        <div class="form-item">
          <p>计算机等级评定时间</p>
          <p-calendar [(ngModel)]="computerLevelEvaluate" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
        </div>
      </form>
      <div class="form-item">
        <button class="form-btn" (click)="add()">提&nbsp;交</button>
      </div>
    </div>
  </div>
</div>
