<div class="part-container">
  <div class="staff-navbar">
    <div class="part-content clearfix">
      <form [formGroup]="form">
        <div class="form-item">
          <p>收费员</p>
          <select formControlName="userId" (change)="getInfo()">
            <option value="">请选择</option>
            <option *ngFor="let user of staffList" [value]="user.userId">{{user.userName}}</option>
          </select>
        </div>
        <div class="form-item">
          <p>收费员职位</p>
          <!-- <div><span>{{workPost[data.workPost]}}</span></div> -->
        </div>
        <div class="form-item">
          <p>考核年度</p>
          <input type="text" formControlName="year">
        </div>
        <div class="form-item">
          <p>综合得分</p>
          <input type="text" formControlName="score">
        </div>
      </form>
      <div class="form-item">
        <button (click)="updateExam()" class="form-btn">提&nbsp;交</button>
      </div>
    </div>
  </div>
</div>
