<h1 class="page-title"><div class="page-title-icon"></div>谈心查询</h1>
<div class="main-container">
  <div *ngIf="isChosen" class="infoContainer">
    <div class="basic-info part-container">
      <h1 class="part-title">谈心记录</h1>
      <div class="btn-center">
        <button (click)="download('do')" *ngIf="doFilePath !== ''">下载文件/预览</button>
        <button (click)="isChosen = !isChosen">返回</button>
      </div>
      <div class="basic-items part-content">
        <ul class="clearfix">
          <li class="basic-info-item floorArea"><span>单位名称</span>{{doData.orgName}}</li>
          <li class="basic-info-item stationType"><span>谈心类型</span>{{doData.chatType}}</li>
          <li class="basic-info-item staff"><span>谈心人员</span>{{doData.chatLeader  }}</li>
          <li class="basic-info-item address"><span>谈心地点</span>{{doData.chatLoc}}</li>
          <li class="basic-info-item date"><span>谈心时间</span>{{doData.chatDate}}</li>
          <li class="basic-last-item staff"><p>谈心对象</p><div class="text">{{doData.chatUserName}}</div></li>
          <li class="basic-last-item abstract"><p>谈心内容</p><div class="text">{{doData.chatContent}}</div></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="condition-container" *ngIf="!isChosen">
    <div class="part-container">
      <h1 class="part-title">查询条件</h1>
      <div class="part-content clearfix">
        <form [formGroup]="form">
          <div class="form-item">
            <p>单位名称</p>
            <div *ngIf="orgType !== 3" class="tree-container">
              <app-drop-org-tree [initOrgName]="orgName" [selectionMode]="selectionMode" (selectedOrg)="selectedOrg($event)"></app-drop-org-tree>
            </div>
            <div class="orgName-container" *ngIf="orgType === 3">{{orgName}}</div>
          </div>
          <!-- <div class="form-item">
            <p>谈心人员</p>
            <input formControlName="chatLeader">
          </div>
          <div class="form-item">
            <p>谈心对象</p>
            <input formControlName="chatUserName">
          </div> -->
          <div class="form-item">
            <p>谈心开始日期</p>
            <p-calendar [(ngModel)]="startTime" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
          </div>
          <div class="form-item">
            <p>谈心结束日期</p>
            <p-calendar [(ngModel)]="endTime" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
          </div>
          <div class="form-item">
            <button (click)="submit()" class="form-btn">查&nbsp;询</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="table-container" *ngIf="!isChosen">
    <div class="part-container">
      <h1 class="part-title">谈心记录信息展示</h1>
      <div class="scroll-table-container">
        <div class="part-content">
          <div>
            <table class="myTable">
              <thead>
                <tr>
                  <th>查看明细</th>
                  <th *ngFor="let field of cols" class="sortable" [class.forward]="field.isSort && order === 0" [class.reverse]="field.isSort && order === 1" (click)="sortByThis(field)">{{field.header}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of planList">
                  <th><span class="station" (click)="detail(item.id)">查看</span></th>
                  <td *ngFor="let field of cols">{{item[field.field]}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p-paginator *ngIf="hasData" [rows]="param.size" [totalRecords]="count" (onPageChange)="paginate($event)"></p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
