.tree-container{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 99;

  .tree-value{
    width: calc(100% - 15px);
    padding-right: 15px;
    height: 100%;
    line-height: 40px;
    text-indent: 15px;
    cursor: text;
    white-space: nowrap;
    overflow: hidden;
  }

  .tree{
    position: absolute;
    display: none;
    top: 38px;
    left: 0;
    width: 100%;

    &.show{
      display: block;
    }
  }
}
