<h1 class="page-title"><div class="page-title-icon"></div>站务会录入</h1>
<div *ngIf="isChosen" class="part-container">
  <h1 class="part-title">添加会议记录</h1>
  <div class="part-content">
    <form [formGroup]="form">
      <div class="form-item">
          <p>所属机构</p>
          <div class="tree-container" *ngIf="isAdd && orgType !== 3">
            <app-drop-org-tree [selectionMode]="selectionMode" (selectedOrg)="selectedOrg($event)"></app-drop-org-tree>
          </div>
          <input type="text" [(ngModel)]="stationName" *ngIf="!isAdd || orgType === 3" [ngModelOptions]="{standalone: true}" disabled='true'>
        </div>
      <div class="form-item">
        <p>会议名称</p>
        <input type="text" formControlName="meetingName">
      </div>
      <div class="form-item">
        <p>会议地址</p>
        <input type="text" formControlName="meetingPlace">
      </div>
      <div class="form-item">
        <p>会议时间</p>
        <p-calendar [(ngModel)]="startDate" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="form-item">
        <p>主持人</p>
        <input type="text" formControlName="meetingHost">
      </div>
      <div class="form-item">
        <p>记录人</p>
        <input type="text" formControlName="meetingNote">
      </div>
      <!-- <div class="form-item form-textarea">
        <p>参与人员</p>
        <textarea type="text" formControlName="meetingJoinPeople" placeholder="填写参会人员，用逗号隔开"></textarea>
      </div> -->

      <div class="attendance-container">
        <button class="add-button" (click)="addStaffs()">添加</button>
        <p>参与人员</p>
        <div class="staff-container">
          <ul class="clearfix">
            <li class="staffList-li clearfix" *ngFor="let staff of activedStaffList">
              <p>{{staff.userName}}</p><div (click)="removeStaff(staff.userId)"></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="form-item form-textarea">
        <p>会议内容</p>
        <textarea type="text" formControlName="meetingContent"></textarea>
      </div>
      <div class="form-item">
        <p>点击上传文件</p>
        <div class="upload-photo">
          <input (change)="fileChange($event)" #photo type="file">
          <span [title]="filename">{{filename}}</span>
          <div class="upload-photo-btn" (click)="photo.click()">选择文件</div>
        </div>
      </div>
      <div class="form-btn-container">
        <div class="form-item">
          <button (click)="submit()" class="form-btn">保存</button>
          <button (click)="isChosen = false" class="form-btn">返回</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="part-container">
  <div class="staff-navbar">
    <h1 class="part-title">站务会管理</h1>
    <div class="part-content clearfix">
      <ul class="btn-list cleafix">
        <li (click)="add()" class="btn-list-li">添加</li>
        <li (click)="update()" class="btn-list-li">修改</li>
        <li (click)="delete()" class="btn-list-li">删除</li>
      </ul>
      <div class="searchbar-container">
        <div class="tree-container">
          <app-drop-org-tree [selectionMode]="selectionMode" (selectedOrg)="selectedSearchOrg($event)" [initOrgName]="searchOrg[0].label"></app-drop-org-tree>
        </div>
        <div (click)="search()">查询</div>
      </div>
    </div>
  </div>
  <div class="table-container">
    <div class="part-content">
      <div>
        <table class="myTable">
          <thead>
            <tr>
              <th></th>
              <th *ngFor="let field of cols" [class.sortable]="field.sortable" [class.forward]="field.isSort && order === 0" [class.reverse]="field.isSort && order === 1" (click)="sortByThis(field)">{{field.header}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of staffList">
              <td><input type="checkbox" (click)="select(item.id)" [checked]="check(item.id)"></td>
              <td *ngFor="let field of cols">{{item[field.field]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p-paginator *ngIf="hasData" [rows]="param.size" [totalRecords]="count" (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>
</div>
<div class="popup-container" [class.show]="isShow">
  <div class="popup">
    <h1>添加</h1>
    <div class="teams-select-container clearfix">
      <p>班组选择</p>
      <select (change)="teamsChange()" [(ngModel)]="teams">
        <option value="0">请选择</option>
        <option value="1">一班</option>
        <option value="2">二班</option>
        <option value="3">三班</option>
        <option value="4">四班</option>
        <option value="5">五班</option>
        <option value="6">六班</option>
        <option value="7">机动班</option>
        <option value="8">常白班</option>
        <option value="100">站监控站</option>
      </select>
      <div class="all-group">
        <button (click)="chooseAll()" class="button-choose-all">全选</button>
        <button (click)="unChooseAll()" class="button-unchoose-all">清空</button>
      </div>
    </div>
    <div class="staffList-container">
      <ul class="clearfix">
        <li (click)="chooseStaff(staff)" class="staffList-li clearfix" *ngFor="let staff of joinStaffList">
          <p>{{staff.userName}}</p><div [class.chosen]="staff.choose"></div>
        </li>
      </ul>
    </div>
    <div class="clearfix button-group">
      <button (click)="staffSubmit()" class="button-submit">确定</button>
      <button (click)="staffCancel()" class="button-cancel">取消</button>
    </div>
  </div>
</div>
