<h1 class="page-title"><div class="page-title-icon"></div>还班登记</h1>
<div *ngIf="view === 1" class="part-container">
  <h1 class="part-title">还班信息填报</h1>
  <div class="part-content">
    <div>
      <form>
        <div class="form-item">
          <p>还班日期</p>
          <p-calendar [(ngModel)]="_returnDate" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
        </div>
        <div class="form-item">
          <p>还班班次</p>
          <select [(ngModel)]="_returnShift"  [ngModelOptions]="{standalone: true}">
            <option value="0">请选择</option>
            <option value="1">白班</option>
            <option value="2">夜班</option>
            <option value="3">中班</option>
          </select>
        </div>
      </form>
      <div class="form-item">
        <button (click)="returnSubmit()" class="form-btn">提&nbsp;交</button>
      </div>
    </div>
  </div>
</div>
<div class="part-container">
  <div class="staff-navbar">
    <h1 class="part-title">还班登记</h1>
    <div class="part-content clearfix">
      <ul class="btn-list cleafix">
        <li (click)="return()" class="btn-list-li">还班</li>
      </ul>
    </div>
  </div>
  <div class="table-container">
    <div class="part-content">
      <div>
        <table class="myTable">
          <thead>
            <tr>
              <th></th>
              <th *ngFor="let field of cols" class="sortable" [class.forward]="field.isSort && order === 0" [class.reverse]="field.isSort && order === 1" (click)="sortByThis(field)">{{field.header}}</th>
              <th>还班审核</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of shiftChangeDataList">
              <td><input type="checkbox" (click)="select(item.id)" [checked]="check(item.id)"></td>
              <td *ngFor="let field of cols">{{item[field.field]}}</td>
              <td>
                <div *ngIf="item.returnCheck === 0 && !item.overDeadline && item.returnStatus && item.checkResult === 1">
                  <button (click)="changeReturnStatus(item.id, 1)" class="btn btn-success">通过</button>
                  <button (click)="changeReturnStatus(item.id, 2)" class="btn btn-danger">不通过</button>
                </div>
                <span *ngIf="item.returnCheck === 1 && item.returnStatus">通过</span>
                <span *ngIf="item.returnCheck === 2 && item.returnStatus">未通过</span>
                <span *ngIf="item.returnCheck === 0 && item.overDeadline && item.returnStatus && item.checkResult === 1">已超时</span>
                <span *ngIf="!item.returnStatus || item.checkResult !== 1">无记录</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p-paginator *ngIf="hasData" [rows]="param.size" [totalRecords]="count" (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>
</div>
