<h1 class="page-title"><div class="page-title-icon"></div>系统首页</h1>
<div class="flex-between top-data-container part-container">
  <div class="top-data part-content2">
    <div class="top-data-left clearfix">
      <div class="top-data-item">
        <p class="top-data-number">28069854</p>
        <p class="top-data-string">本年MTC收入</p>
      </div>
    </div>
    <div class="top-data-right">
      <div class="top-data-item">
          <p>同比增长：12%</p>
      </div>
    </div>
  </div>
  <div class="top-data part-content2">
    <div class="top-data-left clearfix">
      <div class="top-data-item">
        <p class="top-data-number">28069854</p>
        <p class="top-data-string">本年ETC收入</p>
      </div>
    </div>
    <div class="top-data-right">
      <div class="top-data-item">
          <p>同比增长：37%</p>
      </div>
    </div>
  </div>
  <div class="top-data part-content2">
    <div class="top-data-left clearfix">
      <div class="top-data-item">
        <p class="top-data-number">28069854</p>
        <p class="top-data-string">本年MTC出口站口流量</p>
      </div>
    </div>
    <div class="top-data-right">
      <div class="top-data-item">
          <p>同比增长：12%</p>
      </div>
    </div>
  </div>
  <div class="top-data part-content2">
    <div class="top-data-left clearfix">
      <div class="top-data-item">
        <p class="top-data-number">28069854</p>
        <p class="top-data-string">本年ETC出口站口流量</p>
      </div>
    </div>
    <div class="top-data-right">
      <div class="top-data-item">
          <p>同比增长：12%</p>
      </div>
    </div>
  </div>
</div>
<div class="flex-between chart-container">
  <div class="part-container chart-container income-container">
    <h1 class="part-title">清分收入同比图</h1>
    <div>
      <img src="/assets/images/income.jpg" alt="">
    </div>
  </div>
  <div class="part-container chart-container complete-container">
    <h1 class="part-title">任务完成情况</h1>
    <div>
      <img src="/assets/images/complete.jpg" alt="">
    </div>
  </div>
</div>
<div class="flex-between chart-container">
    <div class="part-container chart-container history-income-container">
      <h1 class="part-title">历年收入</h1>
      <div>
        <img src="/assets/images/history-income.jpg" alt="">
      </div>
    </div>
    <div class="part-container chart-container thisyear-income-container">
      <h1 class="part-title">年度收入</h1>
      <div>
        <img src="/assets/images/thisyear-income.jpg" alt="">
      </div>
    </div>
  </div>
