<h1 class="page-title"><div class="page-title-icon"></div>谈心录入</h1>
<div *ngIf="isChosen" class="part-container">
  <h1 class="part-title">谈心记录登记</h1>
  <div class="part-content">
    <form [formGroup]="form">
      <div class="form-item">
        <p>单位名称</p>
        <div *ngIf="orgType !== 3" class="tree-container">
          <app-drop-org-tree [initOrgName]="orgName" [selectionMode]="selectionMode" (selectedOrg)="selectedOrg($event)"></app-drop-org-tree>
        </div>
        <div class="orgName-container" *ngIf="orgType === 3">{{orgName}}</div>
      </div>
      <div class="form-item">
        <p>谈心类型</p>
        <select formControlName="chatType">
          <option value="0">一般谈心</option>
          <option value="1">重要谈心</option>
        </select>
      </div>
      <div class="form-item">
        <p>谈心地点</p>
        <input type="text" formControlName="chatLoc">
      </div>
      <div class="form-item">
        <p>谈心人员</p>
        <input type="text" formControlName="chatLeader">
      </div>
      <div class="form-item">
        <p>谈心对象</p>
        <div class="tree-container">
          <app-drop-staff-tree [selectionMode]="selectionStaffMode" (selectedOrg)="selectedStaff($event)" [initOrgName]="initstaff"></app-drop-staff-tree>
        </div>
      </div>
      <div class="form-item">
        <p>谈心时间</p>
        <p-calendar [(ngModel)]="startDate" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="form-item form-textarea">
        <p>详细内容</p>
        <textarea type="text" formControlName="chatContent"></textarea>
      </div>
      <div class="form-item">
          <p>附件上传(仅支持jpg,png格式)</p>
          <div class="upload-photo">
            <input (change)="fileChange($event)" #photo type="file">
            <span [title]="filename">{{filename}}</span>
            <div class="upload-photo-btn" (click)="photo.click()">选择文件</div>
          </div>
        </div>
      <div class="form-btn-container">
        <div class="form-item">
          <button (click)="isChosen = !isChosen" class="form-btn">返回</button>
          <button (click)="submit()" class="form-btn">保存</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="part-container">
  <div class="staff-navbar">
    <h1 class="part-title">谈心记录登记</h1>
    <div class="part-content clearfix">
      <ul class="btn-list cleafix">
        <li (click)="add()" class="btn-list-li">添加</li>
        <li (click)="update()" class="btn-list-li">修改</li>
        <li (click)="delete()" class="btn-list-li">删除</li>
      </ul>
      <div class="searchbar-container">
        <div class="tree-container">
          <app-drop-org-tree [selectionMode]="selectionMode" (selectedOrg)="selectedSearchOrg($event)" [initOrgName]="searchOrg[0].label"></app-drop-org-tree>
        </div>
        <div (click)="search()">查询</div>
      </div>
    </div>
  </div>
  <div class="table-container">
    <div class="part-content">
      <div>
        <table class="myTable">
          <thead>
            <tr>
              <th></th>
              <th *ngFor="let field of cols" class="sortable" [class.forward]="field.isSort && order === 0" [class.reverse]="field.isSort && order === 1" (click)="sortByThis(field)">{{field.header}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of deviceList">
              <td><input type="checkbox" (click)="select(item.id)" [checked]="check(item.id)"></td>
              <td *ngFor="let field of cols">{{item[field.field]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p-paginator *ngIf="hasData" [rows]="size" [totalRecords]="count" (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>
</div>
