.main-container{
  display: flex;
  justify-content: space-between;

  .condition-container{
    width: 25%;
    min-width: 315px;
  }

  .table-container{
    width: calc(75% - 20px);
    max-width: calc(100% - 335px);
  }
}

.scroll-table-container{

  .part-content{

    >div {
      overflow: scroll;
      padding-bottom: 10px;

      .myTable{
        min-width: 100%;

        th{
          background: #e2ebff;
          padding: 0 30px;
          text-align: center;
          border: 1px solid #e6e6e6;
          font-size: 14px;
          height: 40px;
          line-height: 40px;
          color: #666;
          white-space: nowrap;
        }

        td{
          white-space: nowrap;
          border: 1px solid #e6e6e6;
          font-size: 14px;
          height: 90px;

          .myTable-td-div{
            width: 100%;
            height: 100%;

            p{
              height: 36px;
              line-height: 36px;
              font-size: 16px;
              color: #333;
              text-align: center;
            }

            div{
              position: relative;
              height: 54px;

              span{
                display: block;
                position: absolute;
                top: 0;
                width: 33.3%;
                text-align: center;
                font-size: 14px;
                height: 26px;
                padding-top: 28px;
                cursor: pointer;

                &.team-day{
                  left: 0;
                  background: url('/assets/images/schedule-day.png') no-repeat center 0;
                  color: #ffa94b;
                }

                &.team-mid{
                  left: 33.3%;
                }

                &.team-night{
                  right: 0;
                  background: url('/assets/images/schedule-night.png') no-repeat center 0;
                  color: #6c9cff;
                }
              }
            }
          }
        }
      }
    }
  }
}

.month-choose-container{
  width: 100%;
  height: 66px;
  position: relative;
  margin-bottom: 20px;

  .today{
    width: 60px;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    background: #ffa94b;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
  }

  .month-choose{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 180px;
    height: 26px;

    p{
      width: 100%;
      line-height: 26px;
      font-size: 18px;
      color: #333;
      text-align: center;
    }

    span{
      display: block;
      position: absolute;
      top: 0;
      height: 26px;
      width: 26px;
      background: #a4c2ff;
      cursor: pointer;
      font-size: 18px;
      text-align: center;
      line-height: 26px;
      color: #fff;

      &.pre-month{
        left: 0;
      }

      &.next-month{
        right: 0;
      }
    }
  }
}

.popup-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba($color: #000000, $alpha: 0.5);
  display: none;

  &.show{
    display: block;
  }

  .popup{
    width: 640px;
    height: 600px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fff;

    h1{
      font-size: 16px;
      height: 40px;
      background: #6097ff;
      color: #fff;
      line-height: 40px;
      font-size: 16px;
      text-indent: 10px;
      font-weight: 300;
    }

    .staffList-container{
      margin: 20px;

      p{
        font-size: 14px;
        color: #333;
        margin-bottom: 10px;
      }

      div{
        border: 1px solid #d9d9d9;
        height: 58px;
        padding: 5px 0 5px 20px;
        overflow-y: scroll;

        li{
          width: 60px;
          text-align: center;
          margin-right: 20px;
          height: 30px;
          line-height: 30px;
          float: left;
        }
      }
    }

    .close-button{
      width: 58px;
      display: block;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      cursor: pointer;
      margin: auto;
    }
  }
}
