<h1 class="page-title"><div class="page-title-icon"></div>培训计划查询</h1>
<div class="main-container">
  <div *ngIf="isChosen" class="infoContainer">
    <div class="basic-info part-container">
      <h1 class="part-title">培训信息</h1>
      <div class="flexBox">
        <a [attr.href]="planData.trainPlanFile" target="_blank" *ngIf="planData.trainPlanFile && planData.trainPlanFile !== ''">下载计划附件</a>
        <button (click)="isChosen = !isChosen">返回</button>
      </div>
      <div class="basic-items part-content">
          <ul class="clearfix">
              <li class="basic-info-item shortName"><span>计划名称</span>{{planData.trainType}}</li>
              <li class="basic-info-item stationType"><span>培训类别</span>{{planData.trainType}}</li>
              <li class="basic-info-item address"><span>计划地点</span>{{planData.trainLoc}}</li>
              <li class="basic-info-item staff"><span>计划讲师</span>{{planData.trainTeacher}}</li>
              <li class="basic-info-item floorArea"><span>发起单位</span>{{planData.trainOrgName}}</li>
              <li class="basic-info-item date"><span>计划日期</span>{{planData.trainStartDate}}</li>
              <li class="basic-info-item unit"><span>培训单位</span>{{planData.trainUnit}}</li>
              <li class="basic-info-item way"><span>培训方式</span>{{planData.trainWay}}</li>
              <li class="basic-last-item abstract"><p>计划摘要</p><div class="text">{{planData.trainContent}}</div></li>
            </ul>
      </div>
    </div>
  </div>
  <div class="condition-container" *ngIf="!isChosen">
    <div class="part-container">
      <h1 class="part-title">查询条件</h1>
      <div class="part-content clearfix">
        <form [formGroup]="form">
          <div class="form-item">
            <p>发起单位</p>
            <div *ngIf="orgType !== 3" class="tree-container">
              <app-drop-org-tree [initOrgName]="orgName" [selectionMode]="selectionMode" (selectedOrg)="selectedOrg($event)"></app-drop-org-tree>
            </div>
            <div class="orgName-container" *ngIf="orgType === 3">{{orgName}}</div>
          </div>
          <div class="form-item">
            <p>培训方式</p>
            <select formControlName="trainWay">
              <option value="">全部类别</option>
              <option value="委外">委外</option>
              <option value="自主">自主</option>
              <option value="参与">参与</option>
            </select>
          </div>
          <div class="form-item">
            <p>培训类别</p>
            <select formControlName="trainType">
              <option value="">全部类别</option>
              <option value="文明礼仪">文明礼仪</option>
              <option value="稽查业务培训">稽查业务培训</option>
              <option value="机电培训">机电培训</option>
              <option value="安全培训">安全培训</option>
              <option value="综合培训">综合培训</option>
              <option value="应急演练">应急演练</option>
              <option value="劳动竞赛">劳动竞赛</option>
              <option value="收费业务培训">收费业务培训</option>
            </select>
          </div>
          <div class="form-item">
            <p>培训计划名称</p>
            <input type="text" formControlName="trainPlanName">
          </div>
          <div class="form-item">
            <p>开始日期</p>
            <p-calendar [(ngModel)]="trainStartDate" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
          </div>
          <div class="form-item">
            <p>结束日期</p>
            <p-calendar [(ngModel)]="trainEndDate" [locale]="en" [showIcon]="true" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
          </div>
          <div class="form-item">
            <button (click)="submit()" class="form-btn">查&nbsp;询</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="table-container" *ngIf="!isChosen">
    <div class="part-container">
      <h1 class="part-title">培训信息展示</h1>
      <div class="scroll-table-container">
        <div class="part-content">
          <div>
            <table class="myTable">
              <thead>
                <tr>
                  <th>操作</th>
                  <th>操作</th>
                  <th *ngFor="let field of cols" class="sortable" [class.forward]="field.isSort && order === 0" [class.reverse]="field.isSort && order === 1" (click)="sortByThis(field)">{{field.header}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of planList">
                  <td><span class="station" [routerLink]="['../executeDetail']" [queryParams]="{id: item.id}">落实情况</span></td>
                  <td><span class="content" (click)="select(item)">培训内容</span></td>
                  <td *ngFor="let field of cols">{{item[field.field]}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p-paginator *ngIf="hasData" [rows]="param.size" [totalRecords]="count" (onPageChange)="paginate($event)"></p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
